{{ 'component-grid-banner.css' | asset_url | stylesheet_tag }}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div
  class="section section--padding color-{{ section.settings.color_scheme }} page-width page-width--{{ section.settings.container }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  data-id="{{ section.id }}"
>
  {%- render 'section-heading',
    section_settings: section.settings,
    description_size: section.settings.description_size,
    button_visible: true,
    button_link: section.settings.button_link,
    button_style: section.settings.button_style,
    button_icon: section.settings.button_icon,
    button_label: section.settings.button_label
  -%}
  <div class="grid-banner{% if section.settings.enable_swiper_mobile %} swipe-mobile{% endif %}">
    <div
      class="grid-banner__inner f-grid f-grid--gap-{{ section.settings.gap }} f-grid-auto-rows--{{ section.settings.banner_height }} f-grid--row-gap-{{ section.settings.gap }}{% if section.settings.enable_swiper_mobile %} swipe-mobile__inner{% endif %}"
      style="--f-columns-md: 2;--f-columns-lg: {{ section.settings.columns }};"
    >
      {%- for block in section.blocks -%}
        <div
          class="f-column grid-banner__item w-full {{ block.settings.block_custom_class }}"
          style="--cell-c-span: {{ block.settings.column_span }};--cell-r-span: {{ block.settings.row_span }};"
        >
          {%- render 'card-image',
            parent_color_scheme: section.settings.color_scheme,
            color_scheme: block.settings.color_scheme,
            link: block.settings.card_link,
            image: block.settings.image,
            image_mobile: block.settings.image_mobile,
            image_ratio: 'adapt',
            image_overlay_opacity: block.settings.image_overlay_opacity,
            heading: block.settings.heading,
            highlight_style: block.settings.highlight_style,
            highlight_font_style: block.settings.highlight_font_style,
            highlight_style_color: block.settings.highlight_style_color,
            highlight_text_color: block.settings.highlight_text_color,
            heading_size: block.settings.heading_size,
            subheading: block.settings.subheading,
            subheading_style: block.settings.subheading_style,
            description: block.settings.text,
            description_size: block.settings.text_size,
            button_label: block.settings.button_label,
            button_style: block.settings.button_style,
            button_icon: block.settings.button_icon,
            button_size: block.settings.button_size,
            rich_text_size: block.settings.content_gap,
            content_spacing: block.settings.content_spacing,
            content_position: block.settings.content_position,
            content_position_mobile: block.settings.content_position_mobile,
            content_alignment: block.settings.content_alignment,
            content_alignment_mobile: block.settings.content_alignment_mobile,
            enable_preload_image: block.settings.enable_preload_image,
            section_index: section.index,
            forloop_index: forloop.index,
            heading_size_custom: block.settings.heading_size_custom,
            heading_size_mobile: block.settings.heading_size_mobile
          -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.grid-banner.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:general.container.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "type": "select",
      "id": "section_header_alignment",
      "label": "t:general.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_header_alignment_mobile",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:general.heading.label",
      "default": "Grid banner",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:general.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:general.button.button_style.label",
      "default": "btn--primary",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:general.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:general.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:general.button.button_style.options__4.label"
        },
        {
          "value": "btn--plain",
          "label": "t:general.button.button_style.options__7.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_icon",
      "label": "t:general.button.button_icon.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:general.button.button_icon.options__1.label"
        },
        {
          "value": "caret-right",
          "label": "t:general.button.button_icon.options__2.label"
        },
        {
          "value": "caret-left",
          "label": "t:general.button.button_icon.options__22.label"
        },
        {
          "value": "arrow-right",
          "label": "t:general.button.button_icon.options__3.label"
        },
        {
          "value": "arrow-left",
          "label": "t:general.button.button_icon.options__23.label"
        },
        {
          "value": "close",
          "label": "t:general.button.button_icon.options__4.label"
        },
        {
          "value": "home",
          "label": "t:general.button.button_icon.options__5.label"
        },
        {
          "value": "search",
          "label": "t:general.button.button_icon.options__6.label"
        },
        {
          "value": "hamburger",
          "label": "t:general.button.button_icon.options__7.label"
        },
        {
          "value": "pencil",
          "label": "t:general.button.button_icon.options__8.label"
        },
        {
          "value": "plus",
          "label": "t:general.button.button_icon.options__9.label"
        },
        {
          "value": "cart",
          "label": "t:general.button.button_icon.options__10.label"
        },
        {
          "value": "account",
          "label": "t:general.button.button_icon.options__11.label"
        },
        {
          "value": "sign-in",
          "label": "t:general.button.button_icon.options__12.label"
        },
        {
          "value": "chat",
          "label": "t:general.button.button_icon.options__13.label"
        },
        {
          "value": "download",
          "label": "t:general.button.button_icon.options__14.label"
        },
        {
          "value": "upload",
          "label": "t:general.button.button_icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:general.button.button_icon.options__16.label"
        },
        {
          "value": "play-outline",
          "label": "t:general.button.button_icon.options__17.label"
        },
        {
          "value": "pause",
          "label": "t:general.button.button_icon.options__18.label"
        },
        {
          "value": "stop",
          "label": "t:general.button.button_icon.options__19.label"
        },
        {
          "value": "speaker",
          "label": "t:general.button.button_icon.options__20.label"
        },
        {
          "value": "setting",
          "label": "t:general.button.button_icon.options__21.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.grid.name"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:general.grid.columns_desktop.label",
      "min": 4,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "t:sections.grid-banner.settings.banner_height.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:general.height.options__8.label"
        },
        {
          "value": "small",
          "label": "t:general.height.options__3.label"
        },
        {
          "value": "medium",
          "label": "t:general.height.options__4.label"
        },
        {
          "value": "large",
          "label": "t:general.height.options__6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "gap",
      "label": "t:general.grid.column_gap.label",
      "default": "2xs",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.mobile.name"
    },
    {
      "type": "checkbox",
      "id": "enable_swiper_mobile",
      "label": "t:general.mobile.swipe_on_mobile.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:general.divider.show_divider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_width",
      "label": "t:general.divider.width.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "banner-card",
      "name": "t:sections.grid-banner.blocks.banner_card.name",
      "settings": [
        {
          "type": "header",
          "content": "t:general.general.name"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:general.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:general.image_mobile.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "label": "t:general.image_overlay_opacity.label",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 5,
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.grid-banner.blocks.banner_card.settings.banner_size.content"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "t:sections.grid-banner.blocks.banner_card.settings.column_span.label",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        },
        {
          "type": "range",
          "id": "row_span",
          "label": "t:sections.grid-banner.blocks.banner_card.settings.row_span.label",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        },
        {
          "type": "header",
          "content": "t:general.content.label"
        },
        {
          "type": "select",
          "id": "content_spacing",
          "label": "t:general.content_spacing.label",
          "default": "medium",
          "options": [
            {
              "value": "extra-small",
              "label": "t:general.content_spacing.options__4.label"
            },
            {
              "value": "small",
              "label": "t:general.content_spacing.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:general.content_spacing.options__2.label"
            },
            {
              "value": "large",
              "label": "t:general.content_spacing.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_gap",
          "label": "t:general.content_gap.label",
          "default": "standard",
          "options": [
            {
              "value": "tight",
              "label": "t:general.content_gap.options__xs.label"
            },
            {
              "value": "fitted",
              "label": "t:general.content_gap.options__sm.label"
            },
            {
              "value": "standard",
              "label": "t:general.content_gap.options__md.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:general.content_position.label",
          "options": [
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_left.label",
              "value": "top-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_center.label",
              "value": "top-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_right.label",
              "value": "top-right"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_left.label",
              "value": "middle-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_center.label",
              "value": "middle-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_right.label",
              "value": "middle-right"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_left.label",
              "value": "bottom-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_center.label",
              "value": "bottom-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_right.label",
              "value": "bottom-right"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__middle_content.label",
              "value": "split-middle-content"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__bottom_button.label",
              "value": "split-bottom-button"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__top_subheading.label",
              "value": "split-top-subheading"
            }
          ],
          "default": "bottom-center"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:general.content_alignment.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:general.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position_mobile",
          "label": "t:general.content_position.mobile.label",
          "default": "middle-center",
          "options": [
            {
              "value": "top-center",
              "label": "t:general.vertical_alignment.options__1.label"
            },
            {
              "value": "middle-center",
              "label": "t:general.vertical_alignment.options__2.label"
            },
            {
              "value": "bottom-center",
              "label": "t:general.vertical_alignment.options__3.label"
            }
          ],
          "visible_if": "{{ block.settings.content_position != 'split-middle-content' and block.settings.content_position != 'split-bottom-button' and block.settings.content_position != 'split-top-subheading' }}"
        },
        {
          "type": "select",
          "id": "content_alignment_mobile",
          "label": "t:general.content_alignment.mobile.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:general.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "t:general.card_link.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:general.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_style",
          "label": "t:general.subheading_style.label",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "t:general.subheading_style.options__1.label"
            },
            {
              "value": "border",
              "label": "t:general.subheading_style.options__2.label"
            },
            {
              "value": "thick-border",
              "label": "t:general.subheading_style.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image card",
          "label": "t:general.heading.label",
          "info": "t:general.heading.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "heading_size_mobile",
          "label": "t:general.text_size.heading_mobile.label",
          "options": [
            {
              "value": "inherit",
              "label": "t:general.text_size.options__inherit.label"
            },
            {
              "value": "custom",
              "label": "t:general.text_size.options__custom.label"
            }
          ],
          "default": "inherit"
        },
        {
          "type": "range",
          "id": "heading_size_custom",
          "label": "t:general.text_size.heading_size_custom.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 18,
          "visible_if": "{{ block.settings.heading_size_mobile == 'custom' }}"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:general.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:general.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:general.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:general.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:general.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:general.text_size.options__inherit.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.button.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:general.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:general.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:general.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:general.button.button_style.options__4.label"
            },
            {
              "value": "btn--plain",
              "label": "t:general.button.button_style.options__7.label"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_icon",
          "label": "t:general.button.button_icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.button.button_icon.options__1.label"
            },
            {
              "value": "caret-right",
              "label": "t:general.button.button_icon.options__2.label"
            },
            {
              "value": "caret-left",
              "label": "t:general.button.button_icon.options__22.label"
            },
            {
              "value": "arrow-right",
              "label": "t:general.button.button_icon.options__3.label"
            },
            {
              "value": "arrow-left",
              "label": "t:general.button.button_icon.options__23.label"
            },
            {
              "value": "close",
              "label": "t:general.button.button_icon.options__4.label"
            },
            {
              "value": "home",
              "label": "t:general.button.button_icon.options__5.label"
            },
            {
              "value": "search",
              "label": "t:general.button.button_icon.options__6.label"
            },
            {
              "value": "hamburger",
              "label": "t:general.button.button_icon.options__7.label"
            },
            {
              "value": "pencil",
              "label": "t:general.button.button_icon.options__8.label"
            },
            {
              "value": "plus",
              "label": "t:general.button.button_icon.options__9.label"
            },
            {
              "value": "cart",
              "label": "t:general.button.button_icon.options__10.label"
            },
            {
              "value": "account",
              "label": "t:general.button.button_icon.options__11.label"
            },
            {
              "value": "sign-in",
              "label": "t:general.button.button_icon.options__12.label"
            },
            {
              "value": "chat",
              "label": "t:general.button.button_icon.options__13.label"
            },
            {
              "value": "download",
              "label": "t:general.button.button_icon.options__14.label"
            },
            {
              "value": "upload",
              "label": "t:general.button.button_icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:general.button.button_icon.options__16.label"
            },
            {
              "value": "play-outline",
              "label": "t:general.button.button_icon.options__17.label"
            },
            {
              "value": "pause",
              "label": "t:general.button.button_icon.options__18.label"
            },
            {
              "value": "stop",
              "label": "t:general.button.button_icon.options__19.label"
            },
            {
              "value": "speaker",
              "label": "t:general.button.button_icon.options__20.label"
            },
            {
              "value": "setting",
              "label": "t:general.button.button_icon.options__21.label"
            }
          ],
          "default": "none"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:general.button.button_size.label",
          "options": [
            {
              "value": "btn--small",
              "label": "t:general.button.button_size.options__sm.label"
            },
            {
              "value": "btn--medium",
              "label": "t:general.button.button_size.options__md.label"
            },
            {
              "value": "btn--large",
              "label": "t:general.button.button_size.options__lg.label"
            }
          ],
          "default": "btn--medium"
        },
        {
          "type": "header",
          "content": "t:general.custom_attr.header"
        },
        {
          "type": "text",
          "id": "block_custom_class",
          "label": "t:general.custom_attr.custom_class"
        },
        {
          "type": "header",
          "content": "t:general.header__advanced.content"
        },
        {
          "type": "checkbox",
          "id": "enable_preload_image",
          "label": "t:general.enable_preload_image.label",
          "info": "t:general.enable_preload_image.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.grid-banner.presets__1.name",
      "blocks": [
        {
          "type": "banner-card",
          "settings": {
            "column_span": 2,
            "row_span": 2,
            "content_position": "bottom-left",
            "content_alignment": "left",
            "subheading": "Add a tag line",
            "button_label": "Button label",
            "heading_size": "hd2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "content_position": "top-center",
            "row_span": 2,
            "heading_size": "h2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "heading_size": "h4"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "heading_size": "h4"
          }
        }
      ]
    },
    {
      "name": "t:sections.grid-banner.presets__2.name",
      "settings": {
        "columns": 6,
        "banner_height": "medium"
      },
      "blocks": [
        {
          "type": "banner-card",
          "settings": {
            "column_span": 4,
            "row_span": 2,
            "content_position": "middle-left",
            "content_alignment": "left",
            "subheading": "Add a tag line",
            "button_label": "Button label",
            "heading_size": "hd2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "column_span": 2,
            "heading_size": "h2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "column_span": 2,
            "heading_size": "h2"
          }
        }
      ]
    },
    {
      "name": "t:sections.grid-banner.presets__3.name",
      "blocks": [
        {
          "type": "banner-card",
          "settings": {
            "column_span": 1,
            "row_span": 2,
            "content_position": "top-center",
            "heading_size": "h2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "column_span": 2,
            "row_span": 2,
            "content_position": "middle-center",
            "content_alignment": "center",
            "subheading": "Add a tag line",
            "button_label": "Button label",
            "heading_size": "hd2"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "heading_size": "h4"
          }
        },
        {
          "type": "banner-card",
          "settings": {
            "heading_size": "h4"
          }
        }
      ]
    }
  ]
}
{% endschema %}
