{{ 'section-image-comparison.css' | asset_url | stylesheet_tag }}
<script src="{{ 'image-comparison.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign image_height = section.settings.image_height

  if image_height == 'adapt'
    assign first_block = section.blocks.first
    assign aspect_ratio = first_block.settings.image.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = first_block.settings.image_mobile.aspect_ratio | default: 1.778
  endif

  assign image_position = 'right'

  assign image_blocks = section.blocks | where: 'type', 'image'
  assign text_blocks = section.blocks | where: 'type', 'text'
  assign text_blocks_size = text_blocks.size
-%}
{%- capture image_desktop_sizes -%}
(max-width: 767px) calc(100vw - 30px), min({{ settings.page_width }}px, 100vw)
{%- endcapture -%}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section-{{ section.id }} section--padding section--image-comparison{% if text_blocks_size > 0 %} image-comparison-section--has-sidebar image-comparison-section--image-{{ image_position }}{% endif %} color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  data-id="{{ section.id }}"
>
  <div class="section__container page-width page-width--{{ section.settings.container }}">
    <div class="section__wrapper{% if text_blocks_size > 0 %} f-grid f-grid--gap-extra-large{% endif %}" style="--f-columns-mobile: 1; --f-columns-lg: 2;">
      <div class="section__sidebar f-column{% if text_blocks_size > 0 %} flex flex-col justify-center order-last lg:{% if image_position == 'right' %}order-first{%else%}order-last{% endif %}{% endif %}">
        {% render 'section-heading',
          section_settings: section.settings,
          description_size: section.settings.description_size,
          button_label: section.settings.button_label,
          button_link: section.settings.button_link,
          button_style: section.settings.button_style,
          button_icon: section.settings.button_icon,
          button_visible: true
        %}

        {%- for block in text_blocks -%}
          {% liquid
            assign heading_color = block.settings.heading_color
            assign alpha_first = heading_color.alpha | split: '.' | first | plus: 0
            assign alpha_last = heading_color.alpha | split: '.' | last | plus: 0
            assign heading_color_inherit = false
            if alpha_first == 0 and alpha_last == 0
              assign heading_color_inherit = true
            endif
          %}
          <motion-element class="image-comparison-section__text-block rich-text block md:text-{{ block.settings.text_alignment }} text-{{ block.settings.text_alignment_mobile }}" data-motion="fade-up" data-motion-delay="50">
            {%- if block.settings.heading != blank -%}
              <h3 class="rich-text__heading inline-richtext {{ block.settings.heading_size }}"{% unless heading_color_inherit %} style="--color-heading: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }}, {{ heading_color.alpha }};"{% endunless %}>
                  {{ block.settings.heading }}
              </h3>
            {%- endif -%}
            {%- if block.settings.description != blank -%}
              <div class="rich-text__text text-subtext rte {{ block.settings.text_size }}">
                {{ block.settings.description }}
              </div>
            {%- endif -%}
          </motion-element>
        {% endfor %}
      </div>
      <div class="section__content f-column{% if text_blocks_size > 0 %} order-first lg:{% if image_position == 'right' %}order-last{%else%}order-first{% endif %}{% endif %}">
        <image-comparison
          class="image-comparison image-comparison__heading-style--{{ section.settings.image_heading_style }} blocks-radius no-js-hidden relative block overflow-hidden"
          data-direction="{{ section.settings.direction }}"
        >
          <span class="image-comparison__animation-trigger"></span>
          {%- for block in image_blocks limit: 2  -%}
            {%- liquid
              assign image = block.settings.image
              assign image_mobile = block.settings.image_mobile
              assign heading = block.settings.heading

              assign image_class = 'image-comparison__wrapper image-comparison--' | append: image_height
              if image_mobile != blank
                assign image_class = image_class | append: ' has-mobile-image'
              endif
            -%}
            <div class="image-comparison__{% if forloop.index == 1 %}before{% else %}after{% endif %} image-comparison--media">
              {%- if heading != blank -%}
                <p class="image-comparison__heading text-sm-extra flex color-{{ block.settings.color_scheme }}">
                  {{ heading }}
                </p>
              {%- endif -%}
              <div
                class="{{ image_class }}"
                {% if image_height == 'adapt' %}
                  style="--aspect-ratio: {{ aspect_ratio }}; --aspect-ratio-mobile: {{ aspect_ratio_mobile }}"
                {% endif %}
              >
                {%- if image != blank -%}
                  {{
                    image
                    | image_url: width: image.width
                    | image_tag:
                      loading: 'lazy',
                      alt: image.alt,
                      class: 'motion-reduce image-comparison--image-desktop',
                      widths: '375, 550, 750, 1100, 1170, 1410, 1500, 2340, 2820',
                      sizes: image_desktop_sizes,
                      is: 'image-lazy'
                  }}
                {%- else -%}
                  {{
                    'lifestyle-'
                    | append: forloop.index
                    | placeholder_svg_tag: 'placeholder-svg image-comparison--image-desktop'
                  }}
                {%- endif -%}
                {%- if image_mobile != blank -%}
                  {{
                    image_mobile
                    | image_url: width: image_mobile.width
                    | image_tag:
                      loading: 'lazy',
                      alt: image_mobile.alt,
                      class: 'motion-reduce image-comparison--image-mobile',
                      widths: '375, 550, 750, 1500',
                      sizes: 'calc(100vw - 30px)',
                      is: 'image-lazy'
                  }}
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
          <button class="image-comparison__button" aria-label="image-comparison">
            <span>
              <svg
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
                focusable="false"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M11.998 19.4521L11.998 4.54715"/><path d="M6.58008 19.4521L6.58008 4.54715"/><path d="M17.4199 19.4521V4.54715"/>
              </svg>
            </span>
          </button>
        </image-comparison>
        <noscript>
          <div class="alert alert--warning blocks-radius text-center h5">
            {{ 'onboarding.no_script_alert' | t }}
          </div>
        </noscript>
        {%- if section.settings.product != blank -%}
          <div class="image-comparison__product flex flex-wrap items-center justify-between gap-y-2 gap-x-3">
            <a href="{{ section.settings.product.url }}" class="image-comparison__product-title btn--underline">
              {{- section.settings.product.title -}}
            </a>
            {% render 'price', product: section.settings.product %}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-comparison.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        },
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "id": "section_header_alignment",
      "type": "select",
      "label": "t:general.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "id": "section_header_alignment_mobile",
      "type": "select",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:general.heading.label",
      "default": "Before/after image slider",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:general.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:general.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:general.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:general.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:general.button.button_style.options__4.label"
        },
        {
          "value": "btn--plain",
          "label": "t:general.button.button_style.options__7.label"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "select",
      "id": "button_icon",
      "label": "t:general.button.button_icon.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.button.button_icon.options__1.label"
        },
        {
          "value": "caret-right",
          "label": "t:general.button.button_icon.options__2.label"
        },
        {
          "value": "caret-left",
          "label": "t:general.button.button_icon.options__22.label"
        },
        {
          "value": "arrow-right",
          "label": "t:general.button.button_icon.options__3.label"
        },
        {
          "value": "arrow-left",
          "label": "t:general.button.button_icon.options__23.label"
        },
        {
          "value": "close",
          "label": "t:general.button.button_icon.options__4.label"
        },
        {
          "value": "home",
          "label": "t:general.button.button_icon.options__5.label"
        },
        {
          "value": "search",
          "label": "t:general.button.button_icon.options__6.label"
        },
        {
          "value": "hamburger",
          "label": "t:general.button.button_icon.options__7.label"
        },
        {
          "value": "pencil",
          "label": "t:general.button.button_icon.options__8.label"
        },
        {
          "value": "plus",
          "label": "t:general.button.button_icon.options__9.label"
        },
        {
          "value": "cart",
          "label": "t:general.button.button_icon.options__10.label"
        },
        {
          "value": "account",
          "label": "t:general.button.button_icon.options__11.label"
        },
        {
          "value": "sign-in",
          "label": "t:general.button.button_icon.options__12.label"
        },
        {
          "value": "chat",
          "label": "t:general.button.button_icon.options__13.label"
        },
        {
          "value": "download",
          "label": "t:general.button.button_icon.options__14.label"
        },
        {
          "value": "upload",
          "label": "t:general.button.button_icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:general.button.button_icon.options__16.label"
        },
        {
          "value": "play-outline",
          "label": "t:general.button.button_icon.options__17.label"
        },
        {
          "value": "pause",
          "label": "t:general.button.button_icon.options__18.label"
        },
        {
          "value": "stop",
          "label": "t:general.button.button_icon.options__19.label"
        },
        {
          "value": "speaker",
          "label": "t:general.button.button_icon.options__20.label"
        },
        {
          "value": "setting",
          "label": "t:general.button.button_icon.options__21.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison.settings.header__image_settings.content"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "t:sections.image-comparison.settings.direction.label",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.image-comparison.settings.direction.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.image-comparison.settings.direction.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:sections.image-comparison.settings.image_height.label",
      "default": "adapt",
      "options": [
        {
          "label": "t:sections.image-comparison.settings.image_height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.image-comparison.settings.image_height.options__2.label",
          "value": "small"
        },
        {
          "label": "t:sections.image-comparison.settings.image_height.options__3.label",
          "value": "medium"
        },
        {
          "label": "t:sections.image-comparison.settings.image_height.options__4.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_heading_style",
      "label": "t:sections.image-comparison.settings.image_heading_style.label",
      "default": "badge",
      "options": [
        {
          "label": "t:sections.image-comparison.settings.image_heading_style.options__1.label",
          "value": "badge"
        },
        {
          "label": "t:sections.image-comparison.settings.image_heading_style.options__2.label",
          "value": "plain"
        }
      ]
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.image-comparison.settings.product.label"
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:general.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.divider.width.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image-comparison.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "label": "t:general.image.label",
          "id": "image"
        },
        {
          "type": "image_picker",
          "label": "t:general.image_mobile.label",
          "id": "image_mobile"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image-comparison.blocks.image.settings.heading.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:general.colors.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:general.text.label",
      "limit": 8,
      "settings": [
        {
          "id": "text_alignment",
          "type": "select",
          "label": "t:general.text_alignment.label",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:general.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.text_alignment.options__3.label"
            }
          ]
        },
        {
          "id": "text_alignment_mobile",
          "type": "select",
          "label": "t:general.text_alignment.mobile.label",
          "default": "inherit",
          "options": [
            {
              "value": "inherit",
              "label": "t:general.text_alignment.options__4.label"
            },
            {
              "value": "left",
              "label": "t:general.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.text_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:general.heading.label",
          "default": "Talk about your brand"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "t:sections.image-comparison.blocks.text.settings.heading_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "default": "h2",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:general.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:general.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:general.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:general.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:general.text_size.options__inherit.label"
            }
          ]
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "t:sections.image-comparison.name",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "heading": "Before"
          }
        },
        {
          "type": "image",
          "settings": {
            "heading": "After"
          }
        }
      ]
    }
  ]
}
{% endschema %}
