{{ 'section-image-with-feature.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign image = section.settings.image
  assign image_mobile = section.settings.image_mobile
  assign image_ratio = section.settings.image_ratio
  assign loading = 'lazy'
  assign fetchpriority = 'auto'
  if section.index <= 2
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  if image_ratio == 'adapt'
    if image != blank
      assign image_ratio = image.aspect_ratio
    else
      assign image_ratio = '1/1'
    endif
  endif
  assign image_ratio_mobile = image_mobile.aspect_ratio | default: image_ratio
-%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section--padding image-with-feature color-{{ section.settings.color_scheme }} page-width page-width--{{ section.settings.container }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="image-with-feature__wrapper f-flex{% unless section.settings.enable_sticky %} xl:items-center{% endunless %}">
    <div class="f-column image-with-feature__image md:w-1/2 lg:w-1/3 h-full sticky-element-tablet sticky-element-laptop{% if section.settings.enable_sticky %} sticky-element{% endif %}">
      <div
        class="media-wrapper overflow-hidden{% unless section.settings.container == 'full' %} blocks-radius{% endunless %}"
        style="--aspect-ratio: {{ image_ratio }};--aspect-ratio-mobile: {{ image_ratio_mobile }};"
      >
        {%- if image == blank -%}
          <motion-element
            data-motion="zoom-out-sm"
            class="image-placeholder{% if image_mobile != blank %} hidden md:block{% else %} block{% endif %}"
          >
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </motion-element>
        {%- endif -%}
        {%- if image != blank or image_mobile != blank -%}
          <motion-element
            class="w-full h-full block{% if image == blank %} md:hidden{% endif %}"
            data-motion="zoom-out-sm"
          >
            <picture class="media media--height media-wrapper block w-full h-full relative overflow-hidden">
              {%- if image != blank and image_mobile != blank -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ image_mobile | image_url: width: '400x' }} 400w, {{ image_mobile | image_url: width: '600x' }} 600w, {{ image_mobile | image_url: width: '800x' }} 800w, {{ image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ image_mobile.width }}"
                  height="{{ image_mobile.height }}"
                >
              {%- endif -%}
              {%- liquid
                if image == blank
                  assign image = image_mobile
                endif
                assign image_height = image.width | divided_by: image.aspect_ratio
                assign image_alt = image.alt | default: shop.name | escape
              -%}
              {{-
                image
                | image_url: width: 1500
                | image_tag:
                  loading: loading,
                  width: image.width,
                  height: image_height,
                  alt: image_alt,
                  fetchpriority: fetchpriority,
                  widths: '165, 360, 535, 750, 1100, 1500',
                  is: 'image-lazy'
              -}}
            </picture>
          </motion-element>
        {%- endif -%}
      </div>
    </div>
    <div class="f-column image-with-feature__content flex flex-col justify-center flex-1">
      {% render 'section-heading', section_settings: section.settings %}
      <div class="image-with-feature__items f-grid" style="--f-columns-md: 1;--f-columns-lg: 2;">
        {%- for block in section.blocks -%}
          <div class="f-column relative image-with-feature__card-wrapper">
            <div
              class="image-with-feature__card image-with-feature__card--image-icon flex gap-x-3 text-left h-full"
              style="--img-max: {{ block.settings.max_width }}px;--img-max-mb: {{ block.settings.max_width_mb }}px;"
              {{ block.shopify_attributes }}
            >
              <div class="image-with-feature__card-image shrink-0">
                <motion-element
                  class="block w-full h-full"
                  data-motion="zoom-out-sm"
                  style="--aspect-ratio: {{ block.settings.image.aspect_ratio | default: '1' }};"
                >
                  {%- if block.settings.image != blank -%}
                    {% assign alt = block.settings.image.alt | default: block.settings.title | escape %}
                    <picture class="card-media__media media-wrapper">
                      {{
                        block.settings.image
                        | image_url: width: 1100
                        | image_tag:
                          loading: 'lazy',
                          class: 'motion-reduce absolute inset-0 w-full h-full',
                          widths: '165, 360, 535, 750, 940, 1100',
                          is: 'image-lazy',
                          alt: alt
                      }}
                    </picture>
                  {%- elsif block.settings.icon != 'none' -%}
                    {%- render 'icons', icon: block.settings.icon -%}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg blocks-radius-sm' }}
                  {%- endif -%}
                </motion-element>
              </div>
              <div class="image-with-feature-card__info rich-text rich-text--tight flex-1 flex flex-col items-{{ section.settings.content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}">
                {%- if block.settings.title != blank -%}
                  <h3 class="image-with-feature-card__title rich-text__heading font-{{ block.settings.heading_font }} {{ block.settings.heading_size }}">
                    {% render 'highlight-text',
                      hl_text: block.settings.title,
                      hl_style: block.settings.highlight_style,
                      hl_font_style: block.settings.highlight_font_style,
                      hl_style_color: block.settings.highlight_style_color,
                      hl_text_color: block.settings.highlight_text_color
                    %}
                  </h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="image-with-feature-card__text rich-text__text rte {{ block.settings.text_size }} text-subtext">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-feature.name",
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:general.container.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.image.name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:general.image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:general.image_mobile.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:general.image_ratio.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:general.image_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:general.image_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:general.image_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:general.image_ratio.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "t:general.enable_sticky_desktop.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "type": "select",
      "id": "section_header_alignment",
      "label": "t:general.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_header_alignment_mobile",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:general.heading.label",
      "info": "t:general.heading.info",
      "default": "Image with feature"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:general.divider.show_divider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_width",
      "label": "t:general.divider.width.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "header",
          "content": "t:general.image.label"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "t:general.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.icon.options__1.label"
            },
            {
              "value": "car-simple",
              "label": "t:general.icon.options__2.label"
            },
            {
              "value": "truck",
              "label": "t:general.icon.options__3.label"
            },
            {
              "value": "package",
              "label": "t:general.icon.options__4.label"
            },
            {
              "value": "currency-circle-dollar",
              "label": "t:general.icon.options__5.label"
            },
            {
              "value": "gift",
              "label": "t:general.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:general.icon.options__7.label"
            },
            {
              "value": "globe",
              "label": "t:general.icon.options__8.label"
            },
            {
              "value": "check",
              "label": "t:general.icon.options__9.label"
            },
            {
              "value": "arrow-up-left",
              "label": "t:general.icon.options__10.label"
            },
            {
              "value": "lightning",
              "label": "t:general.icon.options__11.label"
            },
            {
              "value": "calendar-blank",
              "label": "t:general.icon.options__12.label"
            },
            {
              "value": "bell-ringing",
              "label": "t:general.icon.options__13.label"
            },
            {
              "value": "location",
              "label": "t:general.icon.options__14.label"
            },
            {
              "value": "tag",
              "label": "t:general.icon.options__15.label"
            },
            {
              "value": "map-pin",
              "label": "t:general.icon.options__16.label"
            },
            {
              "value": "smiley",
              "label": "t:general.icon.options__17.label"
            },
            {
              "value": "stool",
              "label": "t:general.icon.options__18.label"
            },
            {
              "value": "clock",
              "label": "t:general.icon.options__19.label"
            },
            {
              "value": "phone",
              "label": "t:general.icon.options__20.label"
            },
            {
              "value": "chat",
              "label": "t:general.icon.options__21.label"
            },
            {
              "value": "paperplane",
              "label": "t:general.icon.options__22.label"
            },
            {
              "value": "sliders",
              "label": "t:general.icon.options__23.label"
            },
            {
              "value": "sound",
              "label": "t:general.icon.options__24.label"
            },
            {
              "value": "music",
              "label": "t:general.icon.options__25.label"
            },
            {
              "value": "airplane",
              "label": "t:general.icon.options__26.label"
            },
            {
              "value": "alarm",
              "label": "t:general.icon.options__27.label"
            },
            {
              "value": "play-list",
              "label": "t:general.icon.options__28.label"
            },
            {
              "value": "drop-slash",
              "label": "t:general.icon.options__29.label"
            },
            {
              "value": "pause-circle",
              "label": "t:general.icon.options__30.label"
            },
            {
              "value": "acorn",
              "label": "t:general.icon.options__34.label"
            },
            {
              "value": "leaf",
              "label": "t:general.icon.options__35.label"
            }
          ],
          "default": "chat"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 10,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "t:sections.multicolumn-with-icon.blocks.column.max_width.label",
          "default": 28
        },
        {
          "type": "range",
          "id": "max_width_mb",
          "min": 10,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "t:sections.multicolumn-with-icon.blocks.column.max_width_mb.label",
          "default": 32
        },
        {
          "type": "header",
          "content": "t:general.content.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:general.heading.label",
          "info": "t:general.heading.info",
          "default": "Column"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "default": "h6",
          "options": [
            {
              "value": "text-base",
              "label": "t:general.text_size.options__base.label"
            },
            {
              "value": "h6",
              "label": "t:general.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_font",
          "label": "t:general.font_family.label",
          "default": "heading",
          "options": [
            {
              "value": "body-bolder",
              "label": "t:general.font_family.options__1.label"
            },
            {
              "value": "heading",
              "label": "t:general.font_family.options__2.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:general.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:general.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:general.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:general.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:general.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:general.text_size.options__inherit.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-feature.presets",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "icon": "chat"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "phone"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "paperplane"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "map-pin"
          }
        }
      ]
    }
  ]
}
{% endschema %}
