{{ 'component-lookbook-card-modal.css' | asset_url | stylesheet_tag }}
{{ 'section-lookbook-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lookbook-card.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'lookbook-slider.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign motion_delay = 0
  assign pagination_type = 'progressbar'

  assign enable_slider = section.settings.enable_slider

  assign enable_swiper_mobile = false
  if section.settings.enable_swiper_mobile and section.blocks.size > 1
    assign enable_swiper_mobile = true
  endif
-%}
{%- render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
-%}

<div
  class="section section-{{ section.id }} section--lookbook-slider section--padding color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  data-id="{{ section.id }}"
>
  <div class="section__container page-width page-width--{{ section.settings.container }}">
    {%- render 'section-heading',
      section_settings: section.settings,
      description_size: section.settings.description_size,
      button_label: section.settings.button_label,
      button_link: section.settings.button_link,
      button_style: section.settings.button_style,
      button_icon: section.settings.button_icon,
      button_visible: true,
      motion_delay: motion_delay
    -%}
    <div class="section__content">
      <lookbook-slider
        class="lookbook-slider f-grid f-grid--gap-{{ section.settings.column_gap }}{% if enable_slider %} swiper swiper-equal-height overflow-visible{% endif %}"
        {% if enable_slider %}
          data-enable-slider="true"
        {% endif %}
        data-section-id="{{ section.id }}"
        data-pagination-type="{{ pagination_type }}"
        data-swipe-mobile="{{ enable_swiper_mobile }}"
      >
        <div
          class="lookbook-slider__items f-flex f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-inherit{% if enable_slider %} flex-nowrap swiper-wrapper lookbook-slider-height--{{ section.settings.slide_height }}{% endif %}"
          id="lookbook-slider-{{ section.id }}"
        >
          {%- for block in section.blocks -%}
            {% liquid
              assign video = block.settings.video
              assign image = block.settings.image
              if video != blank
                assign image_ratio = video.aspect_ratio
              elsif image != blank
                assign image_ratio = image.aspect_ratio
              else
                assign image_ratio = '5/4'
              endif
            %}
            <div
              class="f-column{% if enable_slider %} swiper-slide{% endif %} shrink-0"
              {{ block.shopify_attributes }}
              data-index="{{ forloop.index0 }}"
              style="--item-width:{{ block.settings.width }}%; --item-width-mobile:{{ block.settings.width_mobile }}%;"
              data-width="{{ block.settings.width }}%"
              data-width-mobile="{{ block.settings.width_mobile }}%"
            >
              {%- render 'lookbook-card',
                block_id: block.id,
                product_list: block.settings.product_list,
                image: block.settings.image,
                video: block.settings.video,
                image_ratio: image_ratio,
                heading: block.settings.heading,
                highlight_style: block.settings.highlight_style,
                highlight_font_style: block.settings.highlight_font_style,
                highlight_style_color: block.settings.highlight_style_color,
                highlight_text_color: block.settings.highlight_text_color,
                heading_size: block.settings.heading_size
              -%}
            </div>
          {%- endfor -%}
        </div>
      </lookbook-slider>
      {% if enable_slider %}
        <div class="swiper-controls swiper-controls--grouped swiper-controls--pagination-{{ pagination_type }} hidden md:flex">
          <button
            class="swiper-button swiper-button-prev btn"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="btn__text">{% render 'icon-caret-left' %}</span>
          </button>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button swiper-button-next btn"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="btn__text">{% render 'icon-caret-right' %}</span>
          </button>
        </div>
      {% endif %}
      {% if pagination_type == 'progressbar' and enable_swiper_mobile and section.settings.show_progress_bar %}
        <lookbook-scroll-progress-bar class="scroll-progress-bar md:hidden" target="lookbook-slider-{{ section.id }}">
          <div class="progress-container">
            <div class="progress-bar no-empty"></div>
          </div>
        </lookbook-scroll-progress-bar>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.lookbook-slider.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:general.container.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "id": "section_header_alignment",
      "type": "select",
      "label": "t:general.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "id": "section_header_alignment_mobile",
      "type": "select",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:general.heading.label",
      "default": "Lookbook slider",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:general.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:general.button.button_style.label",
      "default": "btn--primary",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:general.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:general.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:general.button.button_style.options__4.label"
        },
        {
          "value": "btn--plain",
          "label": "t:general.button.button_style.options__7.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_icon",
      "label": "t:general.button.button_icon.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.button.button_icon.options__1.label"
        },
        {
          "value": "caret-right",
          "label": "t:general.button.button_icon.options__2.label"
        },
        {
          "value": "caret-left",
          "label": "t:general.button.button_icon.options__22.label"
        },
        {
          "value": "arrow-right",
          "label": "t:general.button.button_icon.options__3.label"
        },
        {
          "value": "arrow-left",
          "label": "t:general.button.button_icon.options__23.label"
        },
        {
          "value": "close",
          "label": "t:general.button.button_icon.options__4.label"
        },
        {
          "value": "home",
          "label": "t:general.button.button_icon.options__5.label"
        },
        {
          "value": "search",
          "label": "t:general.button.button_icon.options__6.label"
        },
        {
          "value": "hamburger",
          "label": "t:general.button.button_icon.options__7.label"
        },
        {
          "value": "pencil",
          "label": "t:general.button.button_icon.options__8.label"
        },
        {
          "value": "plus",
          "label": "t:general.button.button_icon.options__9.label"
        },
        {
          "value": "cart",
          "label": "t:general.button.button_icon.options__10.label"
        },
        {
          "value": "account",
          "label": "t:general.button.button_icon.options__11.label"
        },
        {
          "value": "sign-in",
          "label": "t:general.button.button_icon.options__12.label"
        },
        {
          "value": "chat",
          "label": "t:general.button.button_icon.options__13.label"
        },
        {
          "value": "download",
          "label": "t:general.button.button_icon.options__14.label"
        },
        {
          "value": "upload",
          "label": "t:general.button.button_icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:general.button.button_icon.options__16.label"
        },
        {
          "value": "play-outline",
          "label": "t:general.button.button_icon.options__17.label"
        },
        {
          "value": "pause",
          "label": "t:general.button.button_icon.options__18.label"
        },
        {
          "value": "stop",
          "label": "t:general.button.button_icon.options__19.label"
        },
        {
          "value": "speaker",
          "label": "t:general.button.button_icon.options__20.label"
        },
        {
          "value": "setting",
          "label": "t:general.button.button_icon.options__21.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:general.grid.name"
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:general.grid.column_gap.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "t:general.carousel.name"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "t:general.carousel.enable_carousel.label",
      "default": true
    },
    {
      "type": "select",
      "id": "slide_height",
      "label": "t:sections.favorite-products.settings.slide_height.label",
      "info": "t:sections.favorite-products.settings.slide_height.info",
      "default": "adapt",
      "options": [
        {
          "label": "t:sections.favorite-products.settings.slide_height.options__adapt.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.favorite-products.settings.slide_height.options__sm.label",
          "value": "small"
        },
        {
          "label": "t:sections.favorite-products.settings.slide_height.options__md.label",
          "value": "medium"
        },
        {
          "label": "t:sections.favorite-products.settings.slide_height.options__lg.label",
          "value": "large"
        }
      ],
      "visible_if": "{{ section.settings.enable_slider == true }}"
    },
    {
      "type": "header",
      "content": "t:general.mobile.name"
    },
    {
      "type": "checkbox",
      "id": "enable_swiper_mobile",
      "label": "t:general.mobile.swipe_on_mobile.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "t:general.carousel.show_progress_bar.label",
      "default": true,
      "visible_if": "{{ section.settings.enable_swiper_mobile == true }}"
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:general.divider.show_divider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_width",
      "label": "t:general.divider.width.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "lookbook_card",
      "name": "t:sections.lookbook-slider.blocks.lookbook_card.name",
      "settings": [
        {
          "type": "header",
          "content": "t:general.general.name"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:general.products.label",
          "limit": 5
        },
        {
          "type": "range",
          "id": "width",
          "label": "t:general.desktop_width.label",
          "min": 25,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "t:general.mobile_width.label",
          "min": 25,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "t:general.image.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "video",
          "label": "t:general.video.label",
          "id": "video"
        },
        {
          "type": "header",
          "content": "t:general.heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:general.heading.label",
          "default": "Shop this look",
          "info": "t:general.heading.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "options": [
            {
              "value": "h6",
              "label": "t:general.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ],
          "default": "h5"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lookbook-slider.name",
      "blocks": [
        {
          "type": "lookbook_card"
        },
        {
          "type": "lookbook_card"
        },
        {
          "type": "lookbook_card"
        },
        {
          "type": "lookbook_card"
        }
      ]
    }
  ]
}
{% endschema %}
