{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-article.css' | asset_url | stylesheet_tag }}

{% liquid
  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section.index < 3
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign current_id = article.id
  assign related_posts_size = 0

  for article in blog.articles limit: 4
    if related_posts_size > 2
      break
    endif

    if article.id == current_id
      continue
    endif
    assign related_posts_size = related_posts_size | plus: 1
  endfor
%}
{% style %}
  .section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}
<article
  class="article{% if article.image %} article--has-media{% endif %} section section--padding section-{{ section.id }} color-{{ section.settings.color_scheme }}"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="section__container article__main page-width">
    <div class="article__main-info article--width">
      <div class="article__wrapper">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              <div class="article__block article__app-block">
                {% render block %}
              </div>
            {%- when 'title' -%}
              <header
                class="article__block article__header rich-text rich-text--tight text-center"
                {{ block.shopify_attributes }}
              >
                {%- if article.tags.size > 0 and block.settings.show_tags -%}
                  <span class="article-card__tags rich-text__subheading font-heading text-upper text-subtext block">
                    {%- for tag in article.tags limit: 1 -%}
                      {{ tag }}
                    {%- endfor -%}
                  </span>
                {%- endif -%}
                <h1 class="article__title rich-text__heading {{ block.settings.heading_size }}">{{ article.title }}</h1>
                {% if block.settings.show_author or block.settings.show_date %}
                  <div class="article__metas rich-text__text inline-flex items-center justify-center flex gap-2 text-subtext">
                    {% if block.settings.show_date %}
                      <span class="aarticle-card__meta article-card__date">
                        {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
                      </span>
                    {% endif %}
                    {% if block.settings.show_date and block.settings.show_author %}
                      <span class="article-card__separator no-empty rounded self-center"></span>
                    {% endif %}
                    {% if block.settings.show_author %}
                      <span class="article-card__meta article-card__author">{{ article.author }}</span>
                    {% endif %}
                  </div>
                {% endif %}
              </header>
            {%- when 'image' -%}
              {%- if article.image -%}
                {% liquid
                  assign image_alt = article.image.alt | escape
                  assign image_ratio = block.settings.article_ratio
                  if image_ratio == 'adapt'
                    assign image_ratio = article.image.aspect_ratio
                  endif
                %}
              {%- endif -%}
              <div
                class="article__hero hero--{{ section.settings.image_height }} overflow-hidden blocks-radius"
                {{ block.shopify_attributes }}
              >
                <motion-element
                  data-motion="zoom-out"
                  class="hero__media block"
                  style="--aspect-ratio: {{ image_ratio }};"
                >
                  {%- capture sizes -%}(min-width:1024px) 880px, calc(100vw - 30px){%- endcapture -%}
                  <picture class="block">
                    {{-
                      article.image
                      | image_url: width: article.image.width
                      | image_tag:
                        loading: loading,
                        fetchpriority: fetchpriority,
                        sizes: sizes,
                        width: article.image.width,
                        height: article.image.height,
                        widths: '300,400,500,600,700,800,880,900,1000,1200,1400,1600,1760,1800,2000,2200,2400,2600,2800,3000,3200',
                        alt: image_alt
                    -}}
                  </picture>
                </motion-element>
              </div>
            {%- when 'content' -%}
              <div class="article__block article__content rte text-subtext" {{ block.shopify_attributes }}>
                {{ article.content }}
              </div>
            {%- when 'share' -%}
              <div
                class="article__block article__footer flex flex-col md:flex-row md:items-center justify-between gap-4"
                {{ block.shopify_attributes }}
              >
                {%- if article.tags.size > 0 and block.settings.show_tags -%}
                  <div class="article-tags article-tags flex flex-wrap items-center gap-3">
                    <span class="article-tags__heading font-button">{{ 'blogs.article.tags' | t }}</span>
                    <span class="article-tags__list flex flex-wrap items-center gap-2">
                      {%- for tag in article.tags -%}
                        <a
                          href="{{ blog.url }}/tagged/{{ tag | handle }}"
                          class="btn btn--secondary btn--small font-body"
                        >
                          <span class="btn__text">{{- tag -}}</span>
                        </a>
                      {%- endfor -%}
                    </span>
                  </div>
                {%- endif -%}
                {%- if block.settings.show_share -%}
                  <div class="article__share flex items-center gap-4">
                    <span class="article__share-title font-button">{{ 'general.share.title' | t }}</span>
                    {% render 'social-sharing', url: article.url, share_image: article.featured_media.preview_image %}
                  </div>
                {%- endif -%}
              </div>
            {%- when 'navigation' -%}
              {%- if blog.previous_article != null and blog.next_article != null -%}
                <div
                  class="article__block article-navigation border-top f-grid f-grid--gap-medium"
                  {{ block.shopify_attributes }}
                  style="--f-columns-mobile: 2;"
                >
                  {%- if blog.previous_article != null -%}
                    <a href="{{ blog.previous_article.url }}" class="article-navigation__prev f-column">
                      <span class="inline-flex items-center gap-1">
                        {% render 'icon-slider-prev', size: 'extra-small' %}
                        <span>{{ 'blogs.article.previous_post' | t }}</span>
                      </span>
                      <div class="article-navigation__heading h5 hidden md:block">
                        <span class="text-limit-1-line">{{ blog.previous_article.title }}</span>
                      </div>
                    </a>
                  {%- endif -%}
                  {%- if blog.next_article != null -%}
                    <a href="{{ blog.next_article.url }}" class="article-navigation__next f-column text-right">
                      <span class="inline-flex items-center gap-1">
                        <span>{{ 'blogs.article.next_post' | t }}</span>
                        {% render 'icon-slider-next', size: 'extra-small' %}
                      </span>
                      <div class="article-navigation__heading h5 hidden md:block">
                        <span class="text-limit-1-line">{{ blog.next_article.title }}</span>
                      </div>
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    {%- if section.settings.show_related_posts and related_posts_size > 0 -%}
      {%- liquid
        assign show_tags = section.settings.show_tags
        assign show_author = section.settings.show_author
        assign show_date = section.settings.show_date
        assign show_excerpt = section.settings.show_excerpt
        assign show_button = section.settings.show_button
      -%}

      <div
        class="related-posts"
        style="
          --f-columns-mobile: 1;
          --f-columns-md: 3;
          --f-columns-xl: 3;
        "
      >
        <div class="section__header s__header text-center">
          <h2 class="{{ section.settings.related_heading_size }}">{{ 'blogs.article.related_posts_title' | t }}</h2>
        </div>
        <div class="related-posts__wrapper f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }} swipe-mobile swipe-mobile--1-cols">
          <div class="related-posts__items f-grid swipe-mobile__inner">
            {%- liquid
              assign counter = 0

              for article in blog.articles limit: 4
                if counter > 2
                  break
                endif

                if article.id == current_id
                  continue
                endif

                echo '<div class="f-column">'
                render 'card-article', article: article, show_tags: show_tags, show_author: show_author, show_date: show_date, show_excerpt: show_excerpt, show_button: show_button, index: forloop.index, title_size: section.settings.card_title_size
                echo '</div>'
                assign counter = counter | plus: 1
              endfor
            -%}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if blog.comments_enabled? -%}
      <div class="article-comment article--width">
        <div id="comments">
          <div class="article-comment__wrapper article__main">
            <div class="article-comment__comment-area">
              {%- if article.comments_count > 0 -%}
                {%- assign anchor_id = '#Comments-' | append: article.id -%}
                <h2
                  id="Comments-{{ article.id }}"
                  tabindex="-1"
                  class="article-comment__title text-center {{ section.settings.comments_heading_size }}"
                >
                  {{ 'blogs.article.comments' | t: count: article.comments_count }}
                </h2>
                {% paginate article.comments by 5 %}
                  <div class="article-comment__list">
                    {%- if comment.status == 'pending' and comment.content -%}
                      <article id="{{ comment.id }}" class="comment">
                        {{ comment.content }}
                        <footer class="comment__meta text-subtext">
                          <span class="comment__author">{{ comment.author }}</span>
                        </footer>
                      </article>
                    {%- endif -%}

                    {%- for comment in article.comments -%}
                      <article id="{{ comment.id }}" class="comment">
                        {{ comment.content }}
                        <footer class="comment__meta text-subtext flex gap-2 text-sm-extra">
                          <span class="comment__author">{{ comment.author }}</span>
                          <span class="comment__separator no-empty rounded self-center"></span>
                          <span class="comment__date">
                            {{- comment.created_at | time_tag: format: 'abbreviated_date' -}}
                          </span>
                        </footer>
                      </article>
                    {%- endfor -%}
                    {% render 'pagination', paginate: paginate, anchor: anchor_id %}
                  </div>
                {% endpaginate %}
              {%- endif -%}
            </div>

            {% form 'new_comment', article, class: 'comment-form' %}
              <h2 class="article-comment__form-title {{ section.settings.comments_heading_size }} text-center">
                {{ 'blogs.article.comment_form_title' | t }}
              </h2>
              {%- if form.errors -%}
                <div class="form-error alert alert--error blocks-radius" role="alert">
                  <h3 class="form-message form-message--error h6 m-0" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h3>
                </div>
                <ul>
                  {%- for field in form.errors -%}
                    <li>
                      <a href="#CommentForm-{{ field }}" class="link">
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                          {{ 'blogs.article.name' | t }}
                        {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                          {{ 'blogs.article.message' | t }}
                        {%- else -%}
                          {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- elsif form.posted_successfully? -%}
                <div class="form-status-list" role="status">
                  <h3 class="form-message alert alert--success h6 blocks-radius" tabindex="-1" autofocus>
                    {% render 'icon-success', size: 'small' %}
                    {%- if blog.moderated? and comment.status == 'unapproved' -%}
                      {{- 'blogs.article.success_moderated' | t -}}
                    {%- else -%}
                      {{- 'blogs.article.success' | t -}}
                    {%- endif -%}
                  </h3>
                </div>
              {%- endif -%}

              <div
                {% if blog.moderated? == false %}
                  class="form-comment__comments-fields"
                {% endif %}
              >
                <div class="form-row form-field">
                  <div class="form-field">
                    <label class="form-label" for="CommentForm-author">
                      {{- 'blogs.article.name' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    <input
                      type="text"
                      name="comment[author]"
                      id="CommentForm-author"
                      class="form-control"
                      autocomplete="name"
                      value="{{ form.author }}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.name' | t }}"
                    >
                    {%- if form.errors contains 'author' -%}
                      <span id="CommentForm-author-error" class="form-message form-message--small form-message--error">
                        {%- render 'icon-error' -%}
                        {{- 'blogs.article.name' | t }}
                        {{ form.errors.messages.author }}.
                      </span>
                    {%- endif -%}
                  </div>
                  <div class="form-field">
                    <label class="form-label" for="CommentForm-email">
                      {{- 'blogs.article.email' | t }}
                      <span aria-hidden="true">*</span></label
                    >
                    <input
                      type="email"
                      name="comment[email]"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="form-control"
                      value="{{ form.email }}"
                      autocorrect="off"
                      autocapitalize="off"
                      aria-required="true"
                      required
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-email-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.email' | t }}"
                    >
                    {%- if form.errors contains 'email' -%}
                      <span id="CommentForm-email-error" class="form-message form-message--small form-message--error">
                        {%- render 'icon-error' -%}
                        {{- 'blogs.article.email' | t }}
                        {{ form.errors.messages.email }}.
                      </span>
                    {%- endif -%}
                  </div>
                </div>
                <div class="form-field">
                  <label class="form-label" for="CommentForm-body">
                    {{- 'blogs.article.message' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                  <textarea
                    rows="7"
                    name="comment[body]"
                    id="CommentForm-body"
                    class="form-control form-control--textarea"
                    aria-required="true"
                    required
                    {% if form.errors contains 'body' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-body-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.message' | t }}"
                  >{{ form.body }}</textarea>
                </div>
                {%- if form.errors contains 'body' -%}
                  <span id="CommentForm-body-error" class="form-message form-message--small form-message--error">
                    {%- render 'icon-error' -%}
                    {{- 'blogs.article.message' | t }}
                    {{ form.errors.messages.body }}.
                  </span>
                {%- endif -%}
              </div>
              {%- if blog.moderated? -%}
                <p class="comment-form__warning">{{ 'blogs.article.moderated' | t }}</p>
              {%- endif -%}
              <div class="form-footer text-center">
                <button type="submit" class="btn btn--primary">
                  <span class="btn__text">{{ 'blogs.article.post' | t }}</span>
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</article>

<script type="application/ld+json">
  {{  article | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-article.settings.related_posts.name"
    },
    {
      "type": "checkbox",
      "id": "show_related_posts",
      "default": true,
      "label": "t:sections.main-article.settings.related_posts.show_related_posts.label"
    },
    {
      "type": "select",
      "id": "related_heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:general.grid.column_gap.label"
    },
    {
      "type": "select",
      "id": "row_gap",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.grid.gap.options__inherit.label"
        },
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "large",
      "label": "t:general.grid.row_gap.label"
    },
    {
      "type": "header",
      "content": "t:general.header__card_settings.content"
    },
    {
      "type": "select",
      "id": "card_title_size",
      "label": "t:general.text_size.heading.label",
      "default": "h4",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:general.blog.show_tags.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "t:general.blog.show_excerpt.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:general.blog.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:general.blog.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": false,
      "label": "t:general.blog.show_button.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-article.settings.comments.content"
    },
    {
      "type": "select",
      "id": "comments_heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.top.label",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.bottom.label",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "image",
      "name": "t:general.image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "article_ratio",
          "label": "t:general.image_ratio.label",
          "default": "adapt",
          "options": [
            {
              "value": "adapt",
              "label": "t:general.image_ratio.options__1.label"
            },
            {
              "value": "1/1",
              "label": "t:general.image_ratio.options__2.label"
            },
            {
              "value": "3/4",
              "label": "t:general.image_ratio.options__3.label"
            },
            {
              "value": "4/3",
              "label": "t:general.image_ratio.options__4.label"
            }
          ]
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tags",
          "default": true,
          "label": "t:general.blog.show_tags.label"
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "t:general.blog.show_date.label"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": true,
          "label": "t:general.blog.show_author.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ]
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:general.social_sharing.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_tags",
          "default": true,
          "label": "t:general.blog.show_tags.label"
        },
        {
          "type": "checkbox",
          "id": "show_share",
          "default": true,
          "label": "t:general.social_sharing.show.label"
        }
      ]
    },
    {
      "type": "navigation",
      "name": "t:sections.main-article.blocks.navigation.name",
      "limit": 1
    }
  ]
}
{% endschema %}
