{{ 'section-multiple-product-bundles.css' | asset_url | stylesheet_tag }}
<script src="{{ 'products-bundle.js' | asset_url }}" defer="defer"></script>
<script src="{{'multiple-product-bundles.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign enable_swipe_mobile = true

  assign has_richtext = false
  if section.settings.heading != blank or section.settings.description != blank or section.settings.subheading != blank
    assign has_richtext = true
  endif

  assign columns_desktop = section.settings.columns_desktop
  assign columns_tablet = 2 | at_most: columns_desktop
  assign enable_slider = true

  if section.blocks.size <= columns_desktop
    assign enable_slider = false
  endif

  assign header_empty = true
  if has_richtext or enable_slider
    assign header_empty = false
  endif

  assign header_alignment = section.settings.section_header_alignment
  assign header_alignment_mobile = section.settings.section_header_alignment_mobile
  if header_alignment_mobile == 'inherit'
    assign header_alignment_mobile = header_alignment
  endif

  assign motion_delay = 50

  assign button_style = section.settings.button_style
  assign button_label = section.settings.button_label
  assign button_link = section.settings.button_link
  assign button_icon = section.settings.button_icon

  assign bundle_slider_columns = 2
%}

{%- style -%}
  .section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-{{ section.id }} .multiple-product-bundles__inner {
    --f-grid-columns: {{ columns_desktop }};
    --f-columns-md: {{ columns_tablet }};
  }
  .section-{{ section.id }} .product-bundle-group__slider {
    --f-columns-mobile: {{ bundle_slider_columns }};
  }
{%- endstyle -%}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div class="section section-{{ section.id }} section--padding multiple-product-bundles color-{{ section.settings.color_scheme }}">
  <div class="section__container page-width page-width--{{ section.settings.container }}">
    {%- unless header_empty -%}
      <div class="section__header s__header rich-text rich-text--tight md:text-{{ header_alignment }} text-{{ header_alignment_mobile }} flex flex-col items-{{ header_alignment_mobile | replace: 'left', 'start' | replace: 'right', 'end' }} md:items-center{% unless header_alignment == 'center' %} md:flex-row{{ header_alignment | replace: 'left','' | replace: 'right','-reverse' }} gap-x-4{% endunless %}">
        {% if has_richtext %}
          <div class="section__header--text s__header--text rich-text rich-text--tight flex-1">
            {% if section.settings.subheading != blank %}
              <motion-element
                class="section__subheading text-subheading rich-text__subheading block"
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
              >
                {{- section.settings.subheading -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.heading != blank %}
              <h2 class="rich-text__heading inline-richtext {{ section.settings.heading_size }}">
                <motion-element data-motion="fade-up" data-motion-delay="{{ motion_delay }}" class="block">
                  {% render 'highlight-text',
                    hl_text: section.settings.heading,
                    hl_style: section.settings.highlight_style,
                    hl_font_style: section.settings.highlight_font_style,
                    hl_style_color: section.settings.highlight_style_color,
                    hl_text_color: section.settings.highlight_text_color
                  %}
                </motion-element>
              </h2>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.description != blank %}
              <motion-element
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
                class="block rich-text__text rte {{ section.settings.text_size }} text-subtext"
              >
                {{- section.settings.description -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if button_label != blank and enable_slider %}
              <motion-element
                class="rich-text__button block"
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
              >
                {% render 'button',
                  button_style: button_style,
                  button_link: button_link,
                  button_label: button_label,
                  button_icon: button_icon
                %}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
          </div>
        {% endif %}

        {% if enable_slider %}
          <motion-element
            data-motion="fade-up"
            data-motion-delay="{{ motion_delay }}"
            class="swiper-controls swiper-controls--grouped{% if enable_swipe_mobile %} hidden md:inline-flex{% endif %}{% unless header_alignment == 'center' %} !md:mt-0{% endunless %}"
          >
            <button
              type="button"
              class="swiper-button swiper-button-prev btn"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              <span class="btn__text"> {% render 'icon-caret-left' %}</span>
            </button>
            <button
              type="button"
              class="swiper-button swiper-button-next btn"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              <span class="btn__text"> {% render 'icon-caret-right' %}</span>
            </button>
          </motion-element>
        {% else %}
          {% if button_label != blank %}
            <motion-element
              class="section__header--buttons rich-text__button block{% unless header_alignment == 'center' %} !md:mt-0{% endunless %}"
              data-motion="fade-up"
              data-motion-delay="{{ motion_delay }}"
            >
              {% render 'button',
                button_style: button_style,
                button_link: button_link,
                button_label: button_label,
                button_icon: button_icon
              %}
            </motion-element>
            {%- assign motion_delay = motion_delay | plus: 50 -%}
          {% endif %}
        {% endif %}
      </div>
    {%- endunless -%}
    <div class="section__content">
      <multiple-product-bundles
        class="multiple-product-bundles__slider block f-grid--gap-{{ section.settings.column_gap }} swiper-equal-height{% if enable_slider %} swiper{% endif %}{% if enable_swipe_mobile %} swipe-mobile swipe-mobile--1-cols{% endif %}"
        data-enable-slider="{{ enable_slider }}"
        data-total="{{ section.blocks.size }}"
        data-items="{{ columns_desktop }}"
        data-tablet-items="{{ columns_tablet }}"
        data-section-id="{{ section.id }}"
        id="multiple-product-bundles-{{ section.id }}"
      >
        <div class="multiple-product-bundles__inner f-grid f-grid--gap-{{ section.settings.column_gap }} {% if enable_slider %} swiper-wrapper{% endif %}{% if enable_swipe_mobile %} swipe-mobile__inner{% endif %}">
          {% for block in section.blocks %}
            <div
              class="f-column swiper-slide{% if block.type == 'image_card' %} hidden md:block{% endif %}"
              {{ block.shopify_attributes }}
              data-index="{{ forloop.index0 }}"
            >
              {% if block.type == 'image_card' %}
                {% render 'card-image',
                  color_scheme: block.settings.color_scheme,
                  content_spacing: 'small',
                  link: block.settings.card_link,
                  image: block.settings.banner_image,
                  image_overlay_opacity: block.settings.image_overlay_opacity,
                  heading: block.settings.heading,
                  highlight_style: block.settings.highlight_style,
                  highlight_font_style: block.settings.highlight_font_style,
                  highlight_style_color: block.settings.highlight_style_color,
                  highlight_text_color: block.settings.highlight_text_color,
                  heading_size: block.settings.heading_size,
                  subheading: block.settings.subheading,
                  subheading_style: block.settings.subheading_style,
                  description: block.settings.description,
                  description_size: block.settings.text_size,
                  button_label: block.settings.button_label,
                  button_style: block.settings.button_style,
                  button_icon: block.settings.button_icon,
                  content_position: block.settings.content_position,
                  content_alignment: block.settings.content_alignment,
                  section_index: section.index,
                  forloop_index: forloop.index,
                  heading_size_custom: block.settings.heading_size_custom,
                  heading_size_mobile: block.settings.heading_size_mobile
                %}
              {% else %}
                {% liquid
                  assign heading = block.settings.heading
                  assign products = block.settings.product_list
                  assign card_enable_slider = true
                  if products.count <= bundle_slider_columns
                    assign card_enable_slider = false
                  endif
                %}
                <products-bundle
                  class="product-bundle-group blocks-radius flex flex-col gap-y-4 h-full"
                  data-products="{{ products.count }}"
                >
                  {% if heading != blank or card_enable_slider %}
                    <div class="product-bundle-group__header flex items-center gap-x-2">
                      {% if heading != blank %}
                        <h3 class="h5 product-bundle-group__heading flex-1">{{ heading }}</h3>
                      {% endif %}
                      {% if card_enable_slider %}
                        <div class="swiper-controls swiper-controls--grouped hidden md:flex">
                          <button
                            class="swiper-button swiper-button--blank swiper-button-prev btn"
                            name="previous"
                            aria-label="{{ 'general.slider.previous_slide' | t }}"
                          >
                            <span class="btn__text"> {% render 'icon-caret-left', size: 'small' %}</span>
                          </button>
                          <button
                            class="swiper-button swiper-button--blank swiper-button-next btn"
                            name="next"
                            aria-label="{{ 'general.slider.next_slide' | t }}"
                          >
                            <span class="btn__text"> {% render 'icon-caret-right', size: 'small' %}</span>
                          </button>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  <products-bundle-slider
                    class="block relative product-bundle-group__slider swiper swiper-equal-height w-full flex-1"
                    data-enable-slider="{{ card_enable_slider }}"
                    data-total="{%- if products != blank -%}{{- products.count -}}{%- else -%}2{%- endif -%}"
                    data-items="{{ bundle_slider_columns }}"
                    data-laptop-items="{{ bundle_slider_columns }}"
                    data-tablet-items="{{ bundle_slider_columns }}"
                    data-mobile-items="{{ bundle_slider_columns }}"
                    data-enable-swipe-mobile="false"
                    data-section-id="{{ section.id }}"
                  >
                    <div
                      class="product-bundle-group__inner products-bundle__items f-grid swiper-wrapper"
                      style="--f-column-gap: 0.4rem;"
                    >
                      {% if products != blank %}
                        {% for _product in products %}
                          {% liquid
                            assign block_id = block.id | append: '-' | append: forloop.index
                          %}
                          <div class="f-column swiper-slide" data-index="{{ forloop.index0 }}">
                            <product-bundle-variant-selector
                              class="product-bundle-card block h-full"
                              data-product-handle="{{ _product.handle }}"
                              data-section-id="{{ section.id }}"
                              data-block-id="{{ block_id }}"
                              data-product-id="{{ _product.id }}"
                            >
                              {%- render 'card-product-bundle',
                                section: section,
                                block_id: block_id,
                                product: _product,
                                image_ratio: section.settings.pcard_image_ratio,
                                pcard_color_scheme: section.settings.pcard_color_scheme,
                                pcard_title_line_limit: '1-line',
                                section_index: section.index,
                                index: forloop.index
                              -%}
                            </product-bundle-variant-selector>
                          </div>
                        {% endfor %}
                      {% else %}
                        {% for i in (1..2) %}
                          <div class="f-column swiper-slide" data-index="{{ forloop.index0 }}">
                            {% render 'card-product-placeholder', image_ratio: section.settings.pcard_image_ratio %}
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </products-bundle-slider>
                  <div class="product-bundle-group__footer products-bundle__button flex flex-col justify-center gap-y-4">
                    <div
                      class="product-form__error-message blocks-radius-md alert alert--error"
                      role="alert"
                      hidden
                    ></div>
                    <button
                      type="button"
                      class="btn btn--primary"
                      {%- if products == blank -%}
                        disabled aria-disabled="true"
                      {%- endif -%}
                    >
                      <span class="btn__text">{{ 'products.product.add_all_to_cart' | t }}</span>
                      {%- render 'loading-spinner' -%}
                    </button>
                  </div>
                </products-bundle>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </multiple-product-bundles>
      {% if enable_swipe_mobile %}
        <scroll-pagination
          class="scroll-pagination md:hidden"
          target="multiple-product-bundles-{{ section.id }}"
        >
          <div class="scroll-pagination__inner flex items-center justify-center gap-x-2">
            <button
              class="scroll-pagination__prev scroll-pagination__btn btn btn--plain"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              <span class="btn__text">{% render 'icon-caret-left', size: 'small' %}</span>
            </button>
            <div class="scroll-pagination__pagination flex items-center justify-center">
              <span class="scroll-pagination__current">1</span>/{{ section.blocks.size | minus: 1 }}
            </div>
            <button
              class="scroll-pagination__next scroll-pagination__btn btn btn--plain"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              <span class="btn__text">{% render 'icon-caret-right', size: 'small' %}</span>
            </button>
          </div>
        </scroll-pagination>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multiple-product-bundles.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        },
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "id": "section_header_alignment",
      "type": "select",
      "label": "t:general.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "id": "section_header_alignment_mobile",
      "type": "select",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Multiple product bundles",
      "label": "t:general.heading.label",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:general.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:general.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:general.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:general.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:general.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:general.button.button_style.options__4.label"
        },
        {
          "value": "btn--plain",
          "label": "t:general.button.button_style.options__7.label"
        }
      ],
      "default": "btn--underline"
    },
    {
      "type": "select",
      "id": "button_icon",
      "label": "t:general.button.button_icon.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.button.button_icon.options__1.label"
        },
        {
          "value": "caret-right",
          "label": "t:general.button.button_icon.options__2.label"
        },
        {
          "value": "caret-left",
          "label": "t:general.button.button_icon.options__22.label"
        },
        {
          "value": "arrow-right",
          "label": "t:general.button.button_icon.options__3.label"
        },
        {
          "value": "arrow-left",
          "label": "t:general.button.button_icon.options__23.label"
        },
        {
          "value": "close",
          "label": "t:general.button.button_icon.options__4.label"
        },
        {
          "value": "home",
          "label": "t:general.button.button_icon.options__5.label"
        },
        {
          "value": "search",
          "label": "t:general.button.button_icon.options__6.label"
        },
        {
          "value": "hamburger",
          "label": "t:general.button.button_icon.options__7.label"
        },
        {
          "value": "pencil",
          "label": "t:general.button.button_icon.options__8.label"
        },
        {
          "value": "plus",
          "label": "t:general.button.button_icon.options__9.label"
        },
        {
          "value": "cart",
          "label": "t:general.button.button_icon.options__10.label"
        },
        {
          "value": "account",
          "label": "t:general.button.button_icon.options__11.label"
        },
        {
          "value": "sign-in",
          "label": "t:general.button.button_icon.options__12.label"
        },
        {
          "value": "chat",
          "label": "t:general.button.button_icon.options__13.label"
        },
        {
          "value": "download",
          "label": "t:general.button.button_icon.options__14.label"
        },
        {
          "value": "upload",
          "label": "t:general.button.button_icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:general.button.button_icon.options__16.label"
        },
        {
          "value": "play-outline",
          "label": "t:general.button.button_icon.options__17.label"
        },
        {
          "value": "pause",
          "label": "t:general.button.button_icon.options__18.label"
        },
        {
          "value": "stop",
          "label": "t:general.button.button_icon.options__19.label"
        },
        {
          "value": "speaker",
          "label": "t:general.button.button_icon.options__20.label"
        },
        {
          "value": "setting",
          "label": "t:general.button.button_icon.options__21.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:general.grid.name"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "label": "t:general.grid.columns_desktop.label",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:general.grid.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:general.header__product_cards.content"
    },
    {
      "type": "color_scheme",
      "id": "pcard_color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "select",
      "id": "pcard_image_ratio",
      "label": "t:general.image_ratio.label",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:general.image_ratio.options__inherit.label"
        },
        {
          "value": "adapt",
          "label": "t:general.image_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:general.image_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:general.image_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:general.image_ratio.options__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:general.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.divider.width.label"
    }
  ],
  "blocks": [
    {
      "type": "product_bundles",
      "name": "t:sections.multiple-product-bundles.blocks.product_bundles.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Product bundles",
          "label": "t:general.heading.label"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:general.products.label",
          "limit": 5
        }
      ]
    },
    {
      "type": "image_card",
      "limit": 1,
      "name": "t:general.image_card.label",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:general.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "t:general.card_link.label"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "t:general.image.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "t:general.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:general.content_position.label",
          "options": [
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_left.label",
              "value": "top-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_center.label",
              "value": "top-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__top_right.label",
              "value": "top-right"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_left.label",
              "value": "middle-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_center.label",
              "value": "middle-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__middle_right.label",
              "value": "middle-right"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_left.label",
              "value": "bottom-left"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_center.label",
              "value": "bottom-center"
            },
            {
              "group": "t:general.content_position.optgroup__standard.label",
              "label": "t:general.content_position.options__bottom_right.label",
              "value": "bottom-right"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__middle_content.label",
              "value": "split-middle-content"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__bottom_button.label",
              "value": "split-bottom-button"
            },
            {
              "group": "t:general.content_position.optgroup__split.label",
              "label": "t:general.content_position.options__top_subheading.label",
              "value": "split-top-subheading"
            }
          ],
          "default": "top-left"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:general.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:general.content_alignment.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:general.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_style",
          "label": "t:general.subheading_style.label",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "t:general.subheading_style.options__1.label"
            },
            {
              "value": "border",
              "label": "t:general.subheading_style.options__2.label"
            },
            {
              "value": "thick-border",
              "label": "t:general.subheading_style.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image card",
          "label": "t:general.heading.label",
          "info": "t:general.heading.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "default": "h2",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_size_mobile",
          "label": "t:general.text_size.heading_mobile.label",
          "options": [
            {
              "value": "inherit",
              "label": "t:general.text_size.options__inherit.label"
            },
            {
              "value": "custom",
              "label": "t:general.text_size.options__custom.label"
            }
          ],
          "default": "inherit"
        },
        {
          "type": "range",
          "id": "heading_size_custom",
          "label": "t:general.text_size.heading_size_custom.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 18,
          "visible_if": "{{ block.settings.heading_size_mobile == 'custom' }}"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:general.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:general.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:general.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:general.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:general.text_size.options__inherit.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:general.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:general.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:general.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:general.button.button_style.options__4.label"
            },
            {
              "value": "btn--plain",
              "label": "t:general.button.button_style.options__7.label"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_icon",
          "label": "t:general.button.button_icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.button.button_icon.options__1.label"
            },
            {
              "value": "caret-right",
              "label": "t:general.button.button_icon.options__2.label"
            },
            {
              "value": "caret-left",
              "label": "t:general.button.button_icon.options__22.label"
            },
            {
              "value": "arrow-right",
              "label": "t:general.button.button_icon.options__3.label"
            },
            {
              "value": "arrow-left",
              "label": "t:general.button.button_icon.options__23.label"
            },
            {
              "value": "close",
              "label": "t:general.button.button_icon.options__4.label"
            },
            {
              "value": "home",
              "label": "t:general.button.button_icon.options__5.label"
            },
            {
              "value": "search",
              "label": "t:general.button.button_icon.options__6.label"
            },
            {
              "value": "hamburger",
              "label": "t:general.button.button_icon.options__7.label"
            },
            {
              "value": "pencil",
              "label": "t:general.button.button_icon.options__8.label"
            },
            {
              "value": "plus",
              "label": "t:general.button.button_icon.options__9.label"
            },
            {
              "value": "cart",
              "label": "t:general.button.button_icon.options__10.label"
            },
            {
              "value": "account",
              "label": "t:general.button.button_icon.options__11.label"
            },
            {
              "value": "sign-in",
              "label": "t:general.button.button_icon.options__12.label"
            },
            {
              "value": "chat",
              "label": "t:general.button.button_icon.options__13.label"
            },
            {
              "value": "download",
              "label": "t:general.button.button_icon.options__14.label"
            },
            {
              "value": "upload",
              "label": "t:general.button.button_icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:general.button.button_icon.options__16.label"
            },
            {
              "value": "play-outline",
              "label": "t:general.button.button_icon.options__17.label"
            },
            {
              "value": "pause",
              "label": "t:general.button.button_icon.options__18.label"
            },
            {
              "value": "stop",
              "label": "t:general.button.button_icon.options__19.label"
            },
            {
              "value": "speaker",
              "label": "t:general.button.button_icon.options__20.label"
            },
            {
              "value": "setting",
              "label": "t:general.button.button_icon.options__21.label"
            }
          ],
          "default": "none"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multiple-product-bundles.presets.name",
      "blocks": [
        {
          "type": "image_card"
        },
        {
          "type": "product_bundles"
        },
        {
          "type": "product_bundles"
        },
        {
          "type": "product_bundles"
        },
        {
          "type": "product_bundles"
        }
      ]
    }
  ]
}
{% endschema %}
