{{ 'section-press.css' | asset_url  | stylesheet_tag }}
<script src="{{'press.js' | asset_url }}" defer="defer"></script>
{%- capture sizes -%}
  (max-width: 767px) {{ section.settings.max_width_mb }}px, {{ section.settings.max_width }}px
{%- endcapture -%}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div class="section-{{ section.id }} section--padding section--press color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="section__container page-width page-width--{{ section.settings.container }}">
    <div class="section__wrapper">
      {% render 'section-heading',
        section_settings: section.settings,
        description_size: section.settings.text_size,
      %}
      <press-element class="block press" data-section-id="{{ section.id }}"> 
        <motion-element
          data-motion="fade-up"
          class="press-testimonials relative block"
        >
          <div class="swiper" data-section-id="{{ section.id }}">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {%- liquid
                  if block.settings.text == blank
                    continue
                  endif
                -%}
                <div class="swiper-slide text-center {{ section.settings.description_size }}" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}">
                  {{ block.settings.text }}
                </div>
              {%- endfor -%}
            </div>
          </div>
        </motion-element>
        <motion-element
          data-motion="fade-up"
          class="press-thumbs f-grid f-grid--gap-{{ section.settings.column_gap }} overflow-hidden"
          style="--item-count: {{ section.blocks.size }};--item-width: {{ section.settings.max_width }}px;--item-width-mobile: {{ section.settings.max_width_mb }}px;"
        >
          <div class="swiper" data-section-id="{{ section.id }}">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                {%- liquid
                  if block.settings.text == blank
                    continue
                  endif 
                -%}
                <div class="swiper-slide" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}">
                  {%- if block.settings.image != blank -%}
                    <div class="media-wrapper" style="--aspect-ratio: {{ block.settings.image.aspect_ratio }};">
                      {{
                        block.settings.image
                        | image_url: width: 750
                        | image_tag:
                          loading: 'lazy',
                          fetchpriority: 'low',
                          class: 'motion-reduce',
                          sizes: sizes,
                          widths: '140, 160, 200, 240, 280, 320, 360, 400, 440, 480',
                          is: 'image-lazy'
                      }}
                    </div>
                  {%- else -%}
                    <div class="media-wrapper" style="--aspect-ratio: 16/9;">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        </motion-element>
      </press-element>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.press.name",
  "disabled_on": {
    "groups": ["footer","header","custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        },
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "id": "section_header_alignment",
      "type": "select",
      "label": "t:general.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "id": "section_header_alignment_mobile",
      "type": "select",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Press",
      "label": "t:general.heading.label",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.press.settings.header__press.content"
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:general.text_size.text.label",
      "default": "h4",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:general.grid.column_gap.label"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 100,
      "max": 300,
      "step": 2,
      "unit": "px",
      "label": "t:general.image_width.desktop.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "max_width_mb",
      "min": 100,
      "max": 300,
      "step": 2,
      "unit": "px",
      "label": "t:general.image_width.mobile.label",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:general.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.divider.width.label"
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.top.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.bottom.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "press",
      "name": "t:sections.press.blocks.press.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:general.text.label",
          "default": "You can add detailed text content from various press comments, comprehensive reviews, or extensive customer testimonials here."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.press.name",
      "blocks": [
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        }
      ]
    }
  ]
}
{% endschema %}