{{ 'section-slider-with-multicolumn.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slider-with-multicolumn.js' | asset_url }}" defer="defer"></script>
{%- liquid
  assign slider_blocks = section.blocks | where: 'type', 'slide'
  assign image_card_blocks = section.blocks | where: 'type', 'image-card'

  assign first_block = slider_blocks.first
  assign image_ratio = first_block.settings.image.aspect_ratio | default: '1/1'
  if first_block.settings.image_mobile == blank
    assign image_mobile_ratio = image_ratio
  else
    assign image_mobile_ratio = first_block.settings.image_mobile.aspect_ratio
  endif

  assign enable_slider = false
  if slider_blocks.size > 1
    assign enable_slider = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign enable_slider_mobile = false
  if section.settings.swipe_on_mobile and image_card_blocks.size > columns_mobile_int
    assign enable_slider_mobile = true
  endif

  assign autoplay = 0
  if section.settings.autoplay
    assign autoplay = section.settings.autoplay_delay | times: 1000
  endif
-%}

{% comment %} Slider html {% endcomment %}
{%- capture slide_html -%}
  {%- for block in slider_blocks -%}
    {%- liquid
      assign background_default = block.settings.image
      assign background_mobile = block.settings.image_mobile
      assign image_overlay_opacity = block.settings.image_overlay_opacity
      assign heading = block.settings.heading
      assign subheading = block.settings.subheading
      assign description = block.settings.text
      assign button_label = block.settings.button_label
      assign text_alignment = block.settings.content_alignment
      assign motion_delay = 50
      assign background_default_alt = background_default.alt | default: shop.name | escape

      assign loading = 'lazy'
      assign fetchpriority = 'low'
      if forloop.index == 1 and section.index < 2
        assign loading = 'eager'
        assign fetchpriority = 'high'
      endif
    -%}
    <div 
      class="swiper-slide" 
      role="group"
      data-index="{{ forloop.index0 }}" 
      {{ block.shopify_attributes }} 
      data-type= {{ block.type }}
      data-color-scheme="color-{{ block.settings.color_scheme }}"
    >
      <div class="slide__item-wrap h-full">
        <div class="slide__media blocks-radius">
          <motion-element class="block h-full" data-motion="zoom-out-sm">
            <picture
              class="media-wrapper{% if background_default == blank %} bg-none{% endif %}"
              style="--aspect-ratio: {{ image_ratio }};--aspect-ratio-mobile: {{ image_mobile_ratio }};"
            >
              {%- if background_default != blank -%}
                {%- if background_mobile != blank -%}
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ background_mobile | image_url: width: '400x' }} 400w, {{ background_mobile | image_url: width: '600x' }} 600w, {{ background_mobile | image_url: width: '800x' }} 800w, {{ background_mobile | image_url: width: '1000x' }} 1000w"
                    width="{{ background_mobile.width }}"
                    height="{{ background_mobile.height }}"
                  >
                {%- endif -%}
                {{
                  background_default
                  | image_url: width: 1100
                  | image_tag:
                    loading: loading,
                    fetchpriority: fetchpriority,
                    class: 'motion-reduce absolute inset-0 w-full h-full hover-scale-up',
                    widths: '165, 360, 535, 750, 940, 1100',
                    is: 'image-lazy',
                    alt: background_default_alt
                }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg hover-scale-up' }}
              {%- endif -%}
      
              {% if image_overlay_opacity and image_overlay_opacity > 0 %}
                <div
                  class="bg-overlay"
                  style="--color-overlay-alpha: {{ image_overlay_opacity }};"
                ></div>
              {% endif %}
            </picture>
          </motion-element>
        </div>
        {%- if heading != blank or description != blank or button_label != blank or subheading != blank -%}
          <div
            class="slide__content card-media--small content-overlay content-overlay--{{ block.settings.content_position }} flex flex-col bg-none focus-none color-{{ block.settings.color_scheme }}"
            tabindex="-1"
          >
            <div class="slide__text rich-text text-{{ text_alignment }}">
              {%- unless block.settings.subheading == blank -%}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    data-text
                    hold
                    class="block slide__subtitle rich-text__subheading text-subheading"
                  >
                    {{- block.settings.subheading -}}
                  </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- endunless -%}
              {%- unless block.settings.heading == blank -%}
                <h2 class="slide__title {{ block.settings.heading_size }} rich-text__heading">
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    data-text
                    hold
                    class="block"
                  >
                    {% render 'highlight-text',
                      hl_text: block.settings.heading,
                      hl_style: block.settings.highlight_style,
                      hl_font_style: block.settings.highlight_font_style,
                      hl_style_color: block.settings.highlight_style_color,
                      hl_text_color: block.settings.highlight_text_color
                    %}
                  </motion-element>
                </h2>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- endunless -%}
              {%- unless block.settings.text == blank -%}
                <motion-element
                  class="block slide__description rich-text__text rte"
                  data-motion="fade-up"
                  data-motion-delay="{{ motion_delay }}"
                  data-text
                  hold
                >
                  {{- block.settings.text -}}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- endunless -%}
              {%- unless block.settings.button_label == blank -%}
                <motion-element
                  data-motion="fade-up"
                  data-motion-delay="{{ motion_delay }}"
                  data-text
                  hold
                  class="block slide__buttons rich-text__button"
                >
                  {% render 'button',
                    button_style: block.settings.button_style,
                    button_link: block.settings.button_link,
                    button_label: block.settings.button_label,
                    button_icon: block.settings.button_icon
                  %}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- endunless -%}
            </div>
          </div>
      {% endif %}
      </div>
    </div>
  {% endfor %}
{%- endcapture -%}

{% comment %} Multicolumn html {% endcomment %}
{%- capture column_html -%}
  {%- for block in image_card_blocks -%}
    {% render 'card-image',
      parent_color_scheme: section.settings.color_scheme,
      color_scheme: block.settings.color_scheme,
      link: block.settings.card_link,
      image: block.settings.image,
      heading: block.settings.heading,
      highlight_style: block.settings.highlight_style,
      highlight_font_style: block.settings.highlight_font_style,
      highlight_style_color: block.settings.highlight_style_color,
      highlight_text_color: block.settings.highlight_text_color,
      heading_size: block.settings.heading_size,
      description: block.settings.text,
      content_spacing: 'extra-small',
      content_position: 'bottom-center',
      content_alignment: block.settings.content_alignment,
      section_index: section.index,
      forloop_index: forloop.index,
      heading_size_custom: block.settings.heading_size_custom,
      heading_size_mobile: block.settings.heading_size_mobile
    %}
  {%- endfor -%}
{%- endcapture -%}

{%- render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
-%}

{% comment %} Main section {% endcomment %}
<div
  class="section section--padding m-gradient color-{{ section.settings.color_scheme }} page-width page-width--{{ section.settings.container }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  data-id="{{ section.id }}"
>
  <multicolumn-slider
    class="multicolumn-slider f-grid f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }}"
    style="--f-columns-md: 2;"
    data-id="{{ section.id }}"
  >
    <div class="multicolumn__slider w-full blocks-radius sticky-element self-start">
      <div
        class="{% if enable_slider %} swiper{% endif %} hover-wrapper"
        aria-live="polite"
        aria-atomic="true"
        data-section-id="{{ section.id }}"
        {% if autoplay > 0 %}
          data-autoplay="{{ autoplay }}"
        {% endif %}
        {% if enable_slider %}
          data-enable-slider="true"
        {% endif %}
        style="{% if autoplay > 0 %}--swiper-autoplay-delay: {{ autoplay | plus: 1000 }}ms;{% endif %}"
      >
        <div class="{% if enable_slider %}swiper-wrapper{% endif %} h-full">
          {{ slide_html }}
        </div>
        {%- if enable_slider -%}
          <div class="swiper-controls swiper-controls--float-bottom swiper-controls--grouped swiper-controls--pagination-bullets bg-none justify-center color-{{ section.blocks.first.settings.color_scheme }}">
            <button
              class="swiper-button swiper-button-prev swiper-button--blank"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              {% render 'icon-slider-prev' %}
            </button>
            <div class="swiper-pagination"></div>
            <button
              class="swiper-button swiper-button-next swiper-button--blank"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              {% render 'icon-slider-next' %}
            </button>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="multicolumn__column{% if enable_slider_mobile %} swipe-mobile swipe-mobile--{{ section.settings.columns_mobile }}-cols{% endif %} sticky-element self-start">
      <div
        class="f-grid w-full{% if enable_slider_mobile %} swipe-mobile__inner{% endif %}"
        style="--f-columns-mobile: {{ section.settings.columns_mobile }};--f-columns-md: {{ section.settings.columns_desktop | minus: 1 }};--f-columns-lg: {{ section.settings.columns_desktop }};--gap-x: var(--f-column-gap,0px);"
      >
        {{ column_html }}
      </div>
    </div>
  </multicolumn-slider>
</div>

{% schema %}
{
  "name": "t:sections.slider-with-multicolumn.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:general.container.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.header__slider_settings.content"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:general.carousel.autoplay.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "label": "t:general.carousel.autoplay_delay.label",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:general.grid.name"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:general.grid.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "2xs",
      "label": "t:general.grid.column_gap.label"
    },
    {
      "type": "select",
      "id": "row_gap",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.grid.gap.options__inherit.label"
        },
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "inherit",
      "label": "t:general.grid.row_gap.label"
    },
    {
      "type": "header",
      "content": "t:general.mobile.name"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:general.mobile.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:general.mobile.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:general.mobile.columns_mobile.options__2.label"
        },
        {
          "value": "3",
          "label": "t:general.mobile.columns_mobile.options__3.label"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "label": "t:general.mobile.swipe_on_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "label": "t:general.divider.show_divider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "divider_width",
      "label": "t:general.divider.width.label",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:general.padding.top.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:general.padding.bottom.label",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slider-with-multicolumn.blocks.slide-item.name",
      "settings": [
        {
          "type": "header",
          "content": "t:general.general.name"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:general.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:general.image_mobile.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "label": "t:general.image_overlay_opacity.label",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:general.content.label"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:general.content_position.label",
          "options": [
            {
              "label": "t:general.content_position.options__top_left.label",
              "value": "top-left"
            },
            {
              "label": "t:general.content_position.options__top_center.label",
              "value": "top-center"
            },
            {
              "label": "t:general.content_position.options__top_right.label",
              "value": "top-right"
            },
            {
              "label": "t:general.content_position.options__middle_left.label",
              "value": "middle-left"
            },
            {
              "label": "t:general.content_position.options__middle_center.label",
              "value": "middle-center"
            },
            {
              "label": "t:general.content_position.options__middle_right.label",
              "value": "middle-right"
            },
            {
              "label": "t:general.content_position.options__bottom_left.label",
              "value": "bottom-left"
            },
            {
              "label": "t:general.content_position.options__bottom_center.label",
              "value": "bottom-center"
            },
            {
              "label": "t:general.content_position.options__bottom_right.label",
              "value": "bottom-right"
            }
          ],
          "default": "top-left"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:general.content_alignment.label",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:general.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:general.subheading.label",
          "default": "Add a tagline"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:general.heading.label",
          "default": "Slide item",
          "info": "t:general.heading.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ],
          "default": "hd2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:general.text.label",
          "default": "<p>Tell your brand's story through images.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:general.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:general.button.button_style.label",
          "default": "btn--primary",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:general.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:general.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:general.button.button_style.options__4.label"
            },
            {
              "value": "btn--plain",
              "label": "t:general.button.button_style.options__7.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_icon",
          "label": "t:general.button.button_icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.button.button_icon.options__1.label"
            },
            {
              "value": "caret-right",
              "label": "t:general.button.button_icon.options__2.label"
            },
            {
              "value": "caret-left",
              "label": "t:general.button.button_icon.options__22.label"
            },
            {
              "value": "arrow-right",
              "label": "t:general.button.button_icon.options__3.label"
            },
            {
              "value": "arrow-left",
              "label": "t:general.button.button_icon.options__23.label"
            },
            {
              "value": "close",
              "label": "t:general.button.button_icon.options__4.label"
            },
            {
              "value": "home",
              "label": "t:general.button.button_icon.options__5.label"
            },
            {
              "value": "search",
              "label": "t:general.button.button_icon.options__6.label"
            },
            {
              "value": "hamburger",
              "label": "t:general.button.button_icon.options__7.label"
            },
            {
              "value": "pencil",
              "label": "t:general.button.button_icon.options__8.label"
            },
            {
              "value": "plus",
              "label": "t:general.button.button_icon.options__9.label"
            },
            {
              "value": "cart",
              "label": "t:general.button.button_icon.options__10.label"
            },
            {
              "value": "account",
              "label": "t:general.button.button_icon.options__11.label"
            },
            {
              "value": "sign-in",
              "label": "t:general.button.button_icon.options__12.label"
            },
            {
              "value": "chat",
              "label": "t:general.button.button_icon.options__13.label"
            },
            {
              "value": "download",
              "label": "t:general.button.button_icon.options__14.label"
            },
            {
              "value": "upload",
              "label": "t:general.button.button_icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:general.button.button_icon.options__16.label"
            },
            {
              "value": "play-outline",
              "label": "t:general.button.button_icon.options__17.label"
            },
            {
              "value": "pause",
              "label": "t:general.button.button_icon.options__18.label"
            },
            {
              "value": "stop",
              "label": "t:general.button.button_icon.options__19.label"
            },
            {
              "value": "speaker",
              "label": "t:general.button.button_icon.options__20.label"
            },
            {
              "value": "setting",
              "label": "t:general.button.button_icon.options__21.label"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "image-card",
      "name": "t:general.image_card.label",
      "limit": 4,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:general.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:general.content_alignment.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:general.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:general.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:general.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:general.heading.label",
          "default": "Image card",
          "info": "t:general.heading.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "t:general.highlight_text.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.highlight_text.highlight_style.options.option__1.label"
            },
            {
              "value": "hand_drawn_circle",
              "label": "t:general.highlight_text.highlight_style.options.option__2.label"
            },
            {
              "value": "thick_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__3.label"
            },
            {
              "value": "wave_underline",
              "label": "t:general.highlight_text.highlight_style.options.option__4.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "highlight_font_style",
          "label": "t:general.highlight_text.highlight_font_style.label",
          "options": [
            {
              "value": "italic",
              "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
            },
            {
              "value": "normal",
              "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
            }
          ]
        },
        {
          "type": "color",
          "id": "highlight_style_color",
          "label": "t:general.highlight_text.highlight_style_color.label"
        },
        {
          "type": "color",
          "id": "highlight_text_color",
          "label": "t:general.highlight_text.highlight_text_color.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:general.text_size.heading.label",
          "options": [
            {
              "value": "h5",
              "label": "t:general.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:general.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:general.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:general.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:general.text_size.options__h1.label"
            },
            {
              "value": "hd2",
              "label": "t:general.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:general.text_size.options__hd1.label"
            }
          ],
          "default": "h5"
        },
        {
          "type": "select",
          "id": "heading_size_mobile",
          "label": "t:general.text_size.heading_mobile.label",
          "options": [
            {
              "value": "inherit",
              "label": "t:general.text_size.options__inherit.label"
            },
            {
              "value": "custom",
              "label": "t:general.text_size.options__custom.label"
            }
          ],
          "default": "inherit"
        },
        {
          "type": "range",
          "id": "heading_size_custom",
          "label": "t:general.text_size.heading_size_custom.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 18,
          "visible_if": "{{ block.settings.heading_size_mobile == 'custom' }}"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:general.text.label"
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "t:general.card_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slider-with-multicolumn.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "image-card"
        },
        {
          "type": "image-card"
        },
        {
          "type": "image-card"
        },
        {
          "type": "image-card"
        }
      ]
    }
  ]
}
{% endschema %}
