{{ 'component-testimonial.css' | asset_url | stylesheet_tag }}
{{ 'section-testimonials-masonry.css' | asset_url | stylesheet_tag }}
{% liquid
  assign columns_mobile_int = 1
  assign enable_swipe_mobile = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign enable_swipe_mobile = true
  endif

  assign columns_desktop = section.settings.columns_desktop
  assign columns_tablet = 2

  if section.blocks.size < 2
    assign columns_desktop = 1
    assign columns_tablet = 1
  endif

  assign has_richtext = false
  if section.settings.heading != blank or section.settings.description != blank or section.settings.subheading != blank
    assign has_richtext = true
  endif

  assign header_empty = true
  if has_richtext
    assign header_empty = false
  endif

  assign header_alignment = section.settings.section_header_alignment
  assign header_alignment_mobile = section.settings.section_header_alignment_mobile
  if header_alignment_mobile == 'inherit'
    assign header_alignment_mobile = header_alignment
  endif

  assign card_has_bg = false
  if section.settings.color_scheme != section.settings.card_color_scheme
    assign card_has_bg = true
  endif

  assign motion_delay = 50
  assign max_height = section.settings.max_height
%}

{% style %}
  .section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --f-columns-mobile: {{ columns_mobile_int }};
    --f-columns-md: {{ columns_tablet }};
    --f-columns-lg: {{ columns_desktop }};
  }
{% endstyle %}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div class="section section-{{ section.id }} section--padding testimonials-masonry color-{{ section.settings.color_scheme }}">
  <div class="section__container page-width page-width--{{ section.settings.container }}">
    {%- unless header_empty -%}
      <div class="section__header s__header rich-text rich-text--tight md:text-{{ header_alignment }} text-{{ header_alignment_mobile }} flex flex-col items-{{ header_alignment_mobile | replace: 'left', 'start' | replace: 'right', 'end' }} md:items-center{% unless header_alignment == 'center' %} md:flex-row{{ header_alignment | replace: 'left','' | replace: 'right','-reverse' }} gap-x-4{% endunless %}">
        {% if has_richtext %}
          <div class="section__header--text s__header--text rich-text rich-text--tight flex-1">
            {% if section.settings.subheading != blank %}
              <motion-element
                class="section__subheading text-subheading rich-text__subheading block"
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
              >
                {{- section.settings.subheading -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.heading != blank %}
              <h2 class="rich-text__heading inline-richtext {{ section.settings.heading_size }}">
                <motion-element data-motion="fade-up" data-motion-delay="{{ motion_delay }}" class="block">
                  {% render 'highlight-text',
                    hl_text: section.settings.heading,
                    hl_style: section.settings.highlight_style,
                    hl_font_style: section.settings.highlight_font_style,
                    hl_style_color: section.settings.highlight_style_color,
                    hl_text_color: section.settings.highlight_text_color
                  %}
                </motion-element>
              </h2>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.description != blank %}
              <motion-element
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
                class="block rich-text__text rte {{ section.settings.text_size }} text-subtext"
              >
                {{- section.settings.description -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {%- endunless -%}
    <div class="section__content relative">
      <show-more
        class="read-more__text block"
        data-toggle-class="overflow-hidden"
        data-show-text="{{ 'accessibility.show_more' | t }}"
        data-hide-text="{{ 'accessibility.show_less' | t }}"
        data-section-id="{{ section.id }}"
        data-swipe-mobile="{{ enable_swipe_mobile }}"
        data-max-height="{{ max_height }}"
        data-disable-on-mobile="true"
        is="read-more"
      >
        <div
          class="read-more__content testimonials-masonry__wrapper{% if enable_swipe_mobile %} swipe-mobile swipe-mobile--{{ columns_mobile_int }}-cols{% endif %}"
          id="testimonials-masonry-{{ section.id }}"
        >
          <masonry-layout
            class="testimonials-masonry__items f-grid f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }}{% if enable_swipe_mobile %} swipe-mobile__inner{% endif %}"
          >
            {%- for block in section.blocks -%}
              <div
                class="f-column"
                {{ block.shopify_attributes }}
                data-index="{{ forloop.index0 }}"
              >
                {% render 'testimonial-2',
                  card_text_size: 'text-base',
                  block: block,
                  color_scheme: section.settings.card_color_scheme,
                  has_bg: card_has_bg,
                  image_ratio: section.settings.card_image_ratio,
                  index: forloop.index
                %}
              </div>
            {%- endfor -%}
          </masonry-layout>
        </div>
        <div class="read-more__btn{% if max_height > 0 %} hidden md:flex justify-center{% else %} hidden{% endif %}">
          <button class="read-more__toggle btn btn--primary">
            <span class="btn__text">{{ 'accessibility.view_more' | t }}</span>
          </button>
        </div>
      </show-more>
      {% if enable_swipe_mobile and section.settings.show_progress_bar %}
        <scroll-progress-bar class="md:hidden" target="testimonials-masonry-{{ section.id }}">
          <div class="progress-container">
            <div class="progress-bar no-empty"></div>
          </div>
        </scroll-progress-bar>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials_masonry.name",
  "tag": "section",
  "class": "section section-testimonials-masonry",
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:general.section_header.content"
    },
    {
      "id": "section_header_alignment",
      "type": "select",
      "label": "t:general.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "id": "section_header_alignment_mobile",
      "type": "select",
      "label": "t:general.text_alignment.mobile.label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.text_alignment.options__4.label"
        },
        {
          "value": "left",
          "label": "t:general.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:general.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:general.text_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:general.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Testimonials",
      "label": "t:general.heading.label",
      "info": "t:general.heading.info"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:general.highlight_text.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:general.highlight_text.highlight_style.options.option__1.label"
        },
        {
          "value": "hand_drawn_circle",
          "label": "t:general.highlight_text.highlight_style.options.option__2.label"
        },
        {
          "value": "thick_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__3.label"
        },
        {
          "value": "wave_underline",
          "label": "t:general.highlight_text.highlight_style.options.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "highlight_font_style",
      "label": "t:general.highlight_text.highlight_font_style.label",
      "options": [
        {
          "value": "italic",
          "label": "t:general.highlight_text.highlight_font_style.options.option__1.label"
        },
        {
          "value": "normal",
          "label": "t:general.highlight_text.highlight_font_style.options.option__2.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "highlight_style_color",
      "label": "t:general.highlight_text.highlight_style_color.label"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "t:general.highlight_text.highlight_text_color.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:general.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h5",
          "label": "t:general.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:general.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:general.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:general.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:general.text_size.options__h1.label"
        },
        {
          "value": "hd2",
          "label": "t:general.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:general.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:general.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:general.text_size.text.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:general.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:general.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:general.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:general.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.header__layout_settings.content"
    },
    {
      "type": "range",
      "id": "max_height",
      "label": "t:general.show_more_settings.limit_height.label",
      "info": "t:general.show_more_settings.limit_height.info",
      "default": 0,
      "min": 0,
      "max": 1500,
      "step": 20,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:general.header__card_settings.content"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:general.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "card_image_ratio",
      "label": "t:general.image_ratio.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:general.image_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:general.image_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:general.image_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:general.image_ratio.options__4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "t:sections.testimonials.settings.show_image.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author_image",
      "label": "t:sections.testimonials.settings.show_author_image.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.grid.name"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:general.grid.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:general.grid.column_gap.label"
    },
    {
      "type": "select",
      "id": "row_gap",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.grid.gap.options__inherit.label"
        },
        {
          "value": "none",
          "label": "t:general.grid.gap.options__none.label"
        },
        {
          "value": "2xs",
          "label": "t:general.grid.gap.options__2xs.label"
        },
        {
          "value": "extra-small",
          "label": "t:general.grid.gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:general.grid.gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:general.grid.gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:general.grid.gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:general.grid.gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:general.grid.row_gap.label"
    },
    {
      "type": "header",
      "content": "t:general.mobile.name"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:general.mobile.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "t:general.carousel.show_progress_bar.label",
      "default": true,
      "visible_if": "{{ section.settings.swipe_on_mobile == true }}"
    },
    {
      "type": "header",
      "content": "t:general.padding.section_heading.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.top.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.padding.bottom.label",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:general.divider.section_heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:general.divider.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:general.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:general.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:general.divider.width.label"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:general.testimonial.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:general.testimonial.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:general.testimonial.icon.options__none.label"
            },
            {
              "value": "1-star",
              "label": "t:general.testimonial.icon.options__1.label"
            },
            {
              "value": "2-stars",
              "label": "t:general.testimonial.icon.options__2.label"
            },
            {
              "value": "3-stars",
              "label": "t:general.testimonial.icon.options__3.label"
            },
            {
              "value": "4-stars",
              "label": "t:general.testimonial.icon.options__4.label"
            },
            {
              "value": "5-stars",
              "label": "t:general.testimonial.icon.options__5.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
          "label": "t:general.content.label"
        },
        {
          "type": "header",
          "content": "t:general.testimonial.author.content"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "t:general.testimonial.author.avatar.label"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Author's name",
          "label": "t:general.testimonial.author.name.label"
        },
        {
          "type": "text",
          "id": "bio",
          "label": "t:general.testimonial.author.bio.label"
        },
        {
          "type": "header",
          "content": "t:general.product.label"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:general.product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials_masonry.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
