{%- liquid
  assign selected_variant = product.selected_or_first_available_variant

  if show_vendor == null
    assign show_vendor = settings.pcard_show_vendor
  endif

  if show_type == null
    assign show_type = settings.pcard_show_type
  endif

  if show_price == null
    assign show_price = settings.pcard_show_price
  endif

  assign first_media_type = product.featured_media.media_type
  assign featured_media = product.featured_media

  if first_media_type == 'model' or first_media_type == 'video'
    assign featured_media = product.featured_media.preview_image
  endif

  if image_ratio == blank
    assign image_ratio = settings.pcard_image_ratio | default: '1'
  endif
  if image_ratio == 'adapt'
    if featured_media != blank
      assign image_ratio = featured_media.aspect_ratio
    else
      assign image_ratio = '1'
    endif
  endif

  assign second_image = ''
  if settings.pcard_show_second_img and product.images.size > 1 and product.images[1] != blank
    assign second_image = product.images[1]
  endif

  if enable_quick_add == null
    assign enable_quick_add = settings.pcard_show_cart_button
  endif

  if enable_quick_view == null
    assign enable_quick_view = settings.pcard_show_quickview_button
  endif

  if enable_compare_checkbox == null
    assign enable_compare_checkbox = false
  endif

  assign mobile_hide_quick_add = settings.pcard_mobile_hide_quick_add

  if use_short_text_for_atc_button == null
    assign use_short_text_for_atc_button = false
  endif

  assign product_url = product.url

  if remove_params
    assign product_url = product_url | split: '?' | first
  endif

  assign card_wrapper_class = ''
  if custom_class != blank
    assign card_wrapper_class = card_wrapper_class | append: ' ' | append: custom_class
  endif
  if mobile_hide_quick_add
    assign card_wrapper_class = card_wrapper_class | append: ' mobile-hide-quick-add'
  endif

  assign quick_view_suffix = quick_view_suffix | default: ''
  assign quick_view_modal_id = 'QuickView-' | append: product.id | append: '-' | append: section.id | append: quick_view_suffix

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section_index < 3 and index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  if pcard_style == null
    assign pcard_style = settings.pcard_style
  endif

  assign pcard_color_scheme = pcard_color_scheme | default: settings.pcard_color_scheme

  assign has_bg = false
  if pcard_color_scheme != section.settings.color_scheme
    assign has_bg = true
  endif

  if pcard_title_line_limit == null
    assign pcard_title_line_limit = settings.pcard_title_line_limit
  endif

  # Update default values here also need to update for pcard-color-swatch.liquid
  assign image_sizes = image_sizes | default: '450px'
  assign image_widths = '70, 140, 165, 355, 450, 535, 710, 900, 1070, 1420'
-%}
<div
  class="product-card product-card-style-{{ pcard_style }} color-{{ pcard_color_scheme }} {{ card_wrapper_class }}{% if list_on_mobile %} product-card-list-on-mobile{% endif %}{% if has_bg %} product-card--has-bg{% endif %} h-full"
>
  <div class="product-card__wrapper h-full">
    <div class="product-card__image-wrapper{% if second_image == blank %} product-card__image-wrapper--main-only{% endif %} {% if list_on_mobile %}desktop-{% endif %}color-{{ settings.pcard_overlay_color_scheme }} bg-none">
      <a href="{{ product.url }}" aria-label="{{ product.title | escape }}" tabindex="-1">
        <motion-element data-motion="zoom-out-sm" class="block">
          {%- if featured_media -%}
            {%- unless first_media_type == 'video' or first_media_type == 'external_video' -%}
              <div
                class="media-wrapper product-card__image product-card__image--main"
                style="--aspect-ratio: {{ image_ratio }}"
              >
                {%- assign first_image_widths = image_widths | append: ', ' | append: featured_media.width -%}
                {{
                  featured_media
                  | image_url: width: featured_media.width
                  | image_tag:
                    loading: loading,
                    fetchpriority: fetchpriority,
                    class: 'motion-reduce',
                    widths: first_image_widths,
                    sizes: image_sizes,
                    is: 'image-lazy'
                }}
              </div>
              {%- unless second_image == blank -%}
                <div
                  class="media-wrapper product-card__image product-card__image--second inset-full hidden md:block"
                  style="--aspect-ratio: {{ image_ratio }}"
                >
                  {%- assign second_image_widths = image_widths | append: ', ' | append: second_image.width -%}
                  {{
                    second_image
                    | image_url: width: second_image.width
                    | image_tag:
                      loading: 'lazy',
                      class: 'motion-reduce',
                      widths: second_image_widths,
                      sizes: image_sizes,
                      is: 'image-lazy'
                  }}
                </div>
              {%- endunless -%}
            {%- else -%}
              <div class="media media--adapt" style="--media-ratio: {{ image_ratio }};">
                {% render 'video',
                  video: product.featured_media,
                  muted: true,
                  autoplay: true,
                  loop: true,
                  cover_image: featured_media,
                  show_play_button: false
                %}
              </div>
            {%- endunless -%}
          {%- else -%}
            <div class="product-card__image product-card__image--main" style="--aspect-ratio: {{ image_ratio }};">
              {{- 'product-1' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>
          {%- endif -%}
        </motion-element>
      </a>
      {%- render 'pcard-badges', product: product -%}
      {%- render 'pcard-flash-sale', product: product -%}
      {%- if enable_quick_view -%}
        <button
          class="product-card__quickview btn btn--icon-circle {{ settings.quickview_button_style }} no-js-hidden"
          aria-label="{{ 'products.product.quick_view' | t }}"
          aria-controls="{{ quick_view_modal_id }}"
          aria-haspopup="dialog"
        >
          <span class="btn__text flex gap-1 items-center">{%- render 'icon-search', size: 'large' -%}</span>
        </button>
      {%- endif -%}
      {%- if enable_compare_checkbox -%}
        <compare-checkbox class="product-card__compare hidden">
          <label
            data-tooltip="left"
            class="flex items-center justify-center cursor-pointer"
            for="CompareCheckbox-{{ section.id }}-{{ block_id }}-{{ product.id }}"
          >
            <input
              id="CompareCheckbox-{{ section.id }}-{{ block_id }}-{{ product.id }}"
              class="js-compare-checkbox"
              type="checkbox"
              name="product-compare"
              data-product-id="{{ product.id }}"
              data-product-url="{{ product.url }}"
            >
            <span class="tooltip pointer-events-none">{{- 'products.product.compare' | t -}}</span>
          </label>
        </compare-checkbox>
      {%- endif -%}
    </div>
    <div class="product-card__info text-{{ settings.pcard_content_alignment }}">
      {%- if show_vendor and product.vendor != blank -%}
        <p class="product-card__vendor text-sm-extra m-0">
          <a
            href="{{ product.vendor | url_for_vendor }}"
            class="reversed-link"
            aria-label="{{ 'accessibility.vendor' | t }}{{ product.vendor }}"
          >
            {{- product.vendor -}}
          </a>
        </p>
      {%- endif -%}
      {%- if show_type and product.type != blank -%}
        <p class="product-card__type text-sm-extra m-0">
          <a
            href="{{ product.type | url_for_type }}"
            class="reversed-link"
            aria-label="{{ 'accessibility.product_type' | t }}{{ product.type }}"
          >
            {{- product.type -}}
          </a>
        </p>
      {%- endif -%}
      <h3 class="product-card__title text-pcard-title">
        <a
          class="reversed-link block {% if pcard_title_line_limit != 'none' %} text-limit-{{ pcard_title_line_limit }}{% endif %}"
          href="{{ product.url }}"
        >
          <span class="reversed-link__text">{{- product.title -}}</span>
        </a>
      </h3>
      {%- if product.selected_or_first_available_variant.sku != blank -%}
        <p class="product-card__sku text-sm-extra m-0">{{- product.selected_or_first_available_variant.sku -}}</p>
      {%- endif -%}
      {%- if show_price -%}
        <div id="Price-{{ block_id }}">
          {% render 'price', product: product, alignment: settings.pcard_content_alignment %}
        </div>
      {%- endif -%}

      <div class="product-card__list-actions flex flex-col gap-y-2">
        {%- if product.available -%}
          <div class="product-bundle-card__option relative flex items-center gap-x-2">
            <select-element class="select{% if product.has_only_default_variant %} !hidden{% endif %}">
              <select
                name="id"
                class="form-control form-control--select"
                aria-label="{{ 'accessibility.select_variant' | t }}"
                data-price_varies="{{ product.price_varies }}"
                data-compare_at_price_varies="{{ product.compare_at_price_varies }}"
              >
                {%- for variant in product.variants -%}
                  {%- capture option_ids -%}
                    {%- for option in variant.options -%}
                      {{- option.id -}}{%- unless forloop.last -%},{%- endunless -%}
                    {%- endfor -%}
                  {%- endcapture -%}
                  <option
                    {% if variant == selected_variant %}
                      selected="selected"
                    {% endif %}
                    {% if variant.available == false %}
                      disabled="disabled"
                    {% endif %}
                    value="{{ variant.id }}"
                    data-available="{{ variant.available }}"
                    data-price="{{ variant.price }}"
                    data-compare_at_price="{{ variant.compare_at_price }}"
                    data-options-id="{{ option_ids }}"
                  >
                    {{ variant.title }}
                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif -%}
                  </option>
                {%- endfor -%}
              </select>
              {%- render 'icon-caret-down', size: '2xs' -%}
            </select-element>

            {%- if product.quantity_price_breaks_configured? -%}
              {%- liquid
                assign has_qty_rules = false
                if selected_variant.quantity_rule.increment > 1 or selected_variant.quantity_rule.min > 1 or selected_variant.quantity_rule.max != null
                  assign has_qty_rules = true
                endif

                assign has_vol_pricing = false
                if selected_variant.quantity_price_breaks.size > 0
                  assign has_vol_pricing = true
                endif
              -%}

              {%- if has_qty_rules or has_vol_pricing -%}
                {%- capture qty_rules_vol_pricing -%}
                <button class="btn btn--plain text-sm-extra font-body quantity-popover__toggle" aria-label="{{ 'products.product.volume_pricing.note' | t }}">
                  <svg class="icon icon-info icon--small" viewBox="0 0 25 24" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12.5 16V11M13 8C13 8.27614 12.7761 8.5 12.5 8.5C12.2239 8.5 12 8.27614 12 8M13 8C13 7.72386 12.7761 7.5 12.5 7.5C12.2239 7.5 12 7.72386 12 8M13 8H12M22.5 12C22.5 17.5228 18.0228 22 12.5 22C6.97715 22 2.5 17.5228 2.5 12C2.5 6.47715 6.97715 2 12.5 2C18.0228 2 22.5 6.47715 22.5 12Z"></path>
                  </svg>
                  {% if product.has_only_default_variant %}{{ 'products.product.volume_pricing.note' | t }}{% endif %}
                </button>
                <div class="quantity-popover__quantity-rule color-{{ settings.overlay_color_scheme }}">
                  <button aria-label="{{ 'accessibility.close' | t }}" class="btn btn--plain quantity-popover__close">
                    {%- render 'icon-close', size: 'extra-small' -%}
                  </button>
                  {%- if has_qty_rules -%}
                    <div class="quantity__rules text-sm">
                      {%- if selected_variant.quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.multiples_of'
                            | t: quantity: selected_variant.quantity_rule.increment
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if selected_variant.quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.minimum_of'
                            | t: quantity: selected_variant.quantity_rule.min
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if selected_variant.quantity_rule.max != null -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.maximum_of'
                            | t: quantity: selected_variant.quantity_rule.max
                          -}}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  {%- if has_vol_pricing -%}
                    {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
                    <volume-pricing class="block parent-display v-scrollable" id="Volume-{{ block_id }}">
                      <ul class="list-unstyled">
                        <li>
                          <span>{{ selected_variant.quantity_rule.min }}+</span>
                          {%- liquid 
                            if settings.currency_code_enabled
                              assign price = selected_variant.price | money_with_currency
                            else
                              assign price = selected_variant.price | money
                            endif
                          -%}
                          <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                        </li>
                        {%- for price_break in selected_variant.quantity_price_breaks -%}
                          <li>
                            <span>
                              {{- price_break.minimum_quantity -}}
                              <span aria-hidden="true">+</span>
                            </span>
                            {%- liquid 
                              if settings.currency_code_enabled
                                assign price_break_price = price_break.price | money_with_currency
                              else
                                assign price_break_price = price_break.price | money
                              endif
                            -%}
                            <span>{{ 'sections.quick_order_list.each' | t: money: price_break_price }}</span>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </volume-pricing>
                  {%- endif -%}
                </div>
              {%- endcapture -%}
              {%- endif -%}
              <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
              <div class="product-card-bundle__quantity-popover" id="QuantityRule-{{ block_id }}">
                <quantity-popover
                  class="flex quantity-popover"
                  trigger="click"
                >
                  {{- qty_rules_vol_pricing -}}
                </quantity-popover>
              </div>
            {%- endif -%}
          </div>
        {% else %}
          <input
            type="hidden"
            name="id"
            value="{{- selected_variant.id -}}"
            class="product-variant-id"
            {% if selected_variant.available == false %}
              disabled
            {% endif %}
          >
        {%- endif -%}

        {%- if product.quantity_price_breaks_configured? -%}
          {%- assign cart_qty = cart | item_count_for_variant: selected_variant.id -%}
          <div id="QuantityForm-{{ block_id }}" class="product-bundle-card__quantity hidden">
            <div class="product-form__quantity">
              <label class="quantity__label form__label visually-hidden" for="Quantity-{{ block_id }}">
                <span class="font-body-bolder">{{ 'products.product.quantity.label' | t }}</span>
              </label>
              <quantity-input class="quantity" data-section-id="{{ block_id }}" data-product-id="{{ product.id }}">
                <button class="quantity__button" name="minus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-minus' %}
                </button>
                <input
                  class="quantity__input"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ block_id }}"
                  data-cart-quantity="{{ cart_qty }}"
                  step="{{ selected_variant.quantity_rule.increment }}"
                  value="{{ selected_variant.quantity_rule.min }}"
                  data-quantity-variant-id="{{ selected_variant.id }}"
                  data-min="{{ selected_variant.quantity_rule.min }}"
                  min="{{ selected_variant.quantity_rule.min }}"
                  {% if selected_variant.quantity_rule.max != null %}
                    data-max="{{ selected_variant.quantity_rule.max }}"
                    max="{{ selected_variant.quantity_rule.max }}"
                  {% endif %}
                  inputmode="numeric"
                  autocomplete="off"
                  form="{{ product_form_id }}"
                >
                <button class="quantity__button" name="plus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  {%- if settings.pcard_choose_options_actions == 'open_popup' or enable_quick_view -%}
    {% render 'quick-view-modal', modal_id: quick_view_modal_id, product: product %}
  {%- endif -%}
</div>
{% if selected_variant.featured_media %}
  <div class="selected-variant-media hidden">
    {{
      selected_variant.featured_media
      | image_url: width: selected_variant.featured_media.width
      | image_tag: loading: 'lazy', fetchpriority: 'low', widths: image_widths, sizes: image_sizes
    }}
  </div>
{% endif %}
