{% comment %}
  {%- render 'card-product-horizontal',
    product: product,
    button_type: 'icon',
    section_index: section.index,
    index: forloop.index
  -%}

  Accepts:
  - button_type: Accepted value: icon/text
{% endcomment %}

{%- liquid
  if show_vendor == null
    assign show_vendor = settings.pcard_show_vendor
  endif

  if show_type == null
    assign show_type = settings.pcard_show_type
  endif

  if show_price == null
    assign show_price = settings.pcard_show_price
  endif

  assign first_media_type = product.featured_media.media_type
  assign featured_media = product.featured_media

  if first_media_type == 'model' or first_media_type == 'video'
    assign featured_media = product.featured_media.preview_image
  endif

  assign image_ratio = '1'

  assign product_url = product.url

  if remove_params
    assign product_url = product_url | split: '?' | first
  endif

  assign card_wrapper_class = ''
  if custom_class != blank
    assign card_wrapper_class = card_wrapper_class | append: ' ' | append: custom_class
  endif

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section_index < 3 and index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  # Update default values here also need to update for pcard-color-swatch.liquid
  assign image_sizes = image_sizes | default: '160px'
  assign image_widths = '80, 160, 240'

  assign color_scheme_first = settings.color_schemes | first
  assign parent_color_scheme = parent_color_scheme | default: color_scheme_first
  assign parent_background = parent_color_scheme.settings.background | downcase
  assign card_background = settings.pcard_color_scheme.settings.background | downcase
  assign color_inherit = false
  if parent_background == card_background
    assign color_inherit = true
  endif

  assign button_type = button_type | default: 'icon'

  if title_line_limit == blank or title_line_limit == 'inherit'
    assign title_line_limit = settings.pcard_title_line_limit
  endif
-%}
<div
  class="product-card product-card--horizontal color-{{ settings.pcard_color_scheme }} btn-hover-wrapper h-full{% if color_inherit %} color-inherit{% endif %}"
>
  <div class="product-card__wrapper flex items-center gap-x-3 h-full">
    <div class="product-card__image-wrapper product-card__image-wrapper--main-only">
      <a href="{{ product_url }}" aria-label="{{ product.title | escape }}" tabindex="-1">
        <motion-element data-motion="zoom-out-sm" class="block">
          {%- if featured_media -%}
            <div
              class="media-wrapper product-card__image product-card__image--main"
              style="--aspect-ratio: {{ image_ratio }}"
            >
              {%- assign first_image_widths = image_widths | append: ', ' | append: featured_media.width -%}
              {{
                featured_media
                | image_url: width: featured_media.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'motion-reduce',
                  widths: first_image_widths,
                  sizes: image_sizes,
                  is: 'image-lazy'
              }}
            </div>
          {%- else -%}
            <div class="product-card__image product-card__image--main" style="--aspect-ratio: {{ image_ratio }};">
              {{- 'product-1' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>
          {%- endif -%}
        </motion-element>
      </a>
    </div>
    <div class="product-card__info flex-1 text-left">
      {%- if show_vendor and product.vendor != blank -%}
        <p class="product-card__vendor text-sm-extra m-0">
          <a
            href="{{ product.vendor | url_for_vendor }}"
            class="reversed-link"
            aria-label="{{ 'accessibility.vendor' | t }}{{ product.vendor }}"
          >
            {{- product.vendor -}}
          </a>
        </p>
      {%- endif -%}
      {%- if show_type and product.type != blank -%}
        <p class="product-card__type text-sm-extra m-0">
          <a
            href="{{ product.type | url_for_type }}"
            class="reversed-link"
            aria-label="{{ 'accessibility.product_type' | t }}{{ product.type }}"
          >
            {{- product.type -}}
          </a>
        </p>
      {%- endif -%}
      <h3 class="product-card__title text-pcard-title">
        <a
          class="reversed-link block{% if title_line_limit != 'none' %} text-limit-{{ title_line_limit }}{% endif %}"
          href="{{ product_url }}"
        >
          <span class="reversed-link__text">{{- product.title -}}</span>
        </a>
      </h3>
      {%- if product.selected_or_first_available_variant.sku != blank -%}
        <p class="product-card__sku text-sm-extra m-0">{{- product.selected_or_first_available_variant.sku -}}</p>
      {%- endif -%}
      {%- if show_price -%}
        {% render 'price', product: product, alignment: 'left' %}
      {%- endif -%}
    </div>
    <div class="product-card__list-actions">
      <a
        href="{{- product_url -}}"
        class="product-card__btn btn{% if button_type == 'icon' %} btn--icon-circle btn--icon btn--extra-small{% else %} btn--secondary btn--small{% endif %}"
        aria-label="{{- 'products.product.view_details' | t -}}"
      >
        <span class="btn__text flex">
          {% if button_type == 'icon' %}
            {% render 'icon-caret-right', size: 'extra-small' %}
          {% else %}
            {{- 'products.product.shop' | t -}}
          {% endif %}
        </span>
      </a>
    </div>
  </div>
</div>
