<nav class="header__menu flex" role="navigation" aria-label="Primary">
  <ul class="flex flex-wrap">
    {%- for link in menu.links -%}
      {%- liquid
        assign enable_mega_menu = false
        assign is_hl_item = false
        assign link_title_handle = link.title | handle
        for block in blocks
          assign menu_title_handle = block.settings.menu_title | handle
          if menu_title_handle == link_title_handle
            assign enable_mega_menu = true
            assign mega_menu_block = block
            if block.settings.enable_hl_link
              assign is_hl_item = true
              assign hl_link_style = block.settings.hl_link_style
              assign hl_link_color = block.settings.hl_link_color
            endif
            break
          endif

          assign hl_title_handle = block.settings.hl_link_title | handle
          if link_title_handle == hl_title_handle
            assign hl_link_style = block.settings.hl_link_style
            assign hl_link_color = block.settings.hl_link_color
            assign is_hl_item = true
            assign hl_menu_block = block
          endif
        endfor
      -%}
      <li
        class="inline-flex items-center"
        {% if is_hl_item and hl_link_color != blank and hl_link_color != 'rgba(0,0,0,0)' %}
          style="--hl-link-color: {{ hl_link_color }};"
        {% endif %}
      >
        {%- if link.links != blank -%}
          {%- if enable_mega_menu -%}
            {% render 'mega-menu',
              link: link,
              block: mega_menu_block,
              is_hl_item: is_hl_item,
              hl_menu_block: hl_menu_block,
              hl_link_style: hl_link_style
            %}
          {%- else -%}
            <details
              is="details-dropdown"
              level="top"
              trigger="{{ section.settings.menu_trigger }}"
              {{ block.shopify_attributes }}
            >
              <summary data-link="{{ link.url }}" class="z-2">
                <span class="menu__item flex items-center relative{% if is_hl_item %} hightlight-link hightlight-link--{{ hl_link_style }}{% endif %}">
                  {%- liquid
                    assign link_class = 'menu__item-text reversed-link'
                    if is_hl_item
                      case hl_link_style
                        when 'button'
                          assign link_class = 'btn btn--primary'
                        when 'wave_underline'
                          assign link_class = 'menu__item-text relative wave-underline'
                      endcase
                    endif
                  -%}
                  <span class="flex items-center font-navigation {{ link_class }}">
                    {%- capture link_title_html -%}
                      {{- link.title | escape -}}
                      {%- render 'icon-caret-down', size: '2xs' -%}
                    {%- endcapture -%}
                    {%- if is_hl_item -%}
                      {%- case hl_link_style -%}
                        {%- when 'button' -%}
                          <span class="btn__text flex items-center menu__item-text">{{ link_title_html }}</span>
                        {%- else -%}
                          {{ link_title_html }}
                      {%- endcase -%}
                    {%- else -%}
                      {{ link_title_html }}
                    {%- endif -%}
                  </span>
                  {%- if is_hl_item -%}
                    {%- case hl_link_style -%}
                      {%- when 'star_twinkle' -%}
                        <svg class="star star-1" width="12" height="12" viewBox="0 0 12 12">
                          <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                        </svg>
                        <svg class="star star-2" width="12" height="12" viewBox="0 0 12 12">
                          <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                        </svg>
                        <svg class="star star-3" width="12" height="12" viewBox="0 0 12 12">
                          <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                        </svg>
                    {%- endcase -%}
                  {%- endif -%}
                </span>
              </summary>
              <div class="dropdown">
                <div class="dropdown__container color-{{ settings.overlay_color_scheme }}">
                  <ul class="dropdown__nav" role="list">
                    {%- for childlink in link.links -%}
                      {%- if childlink.links != blank -%}
                        <li class="relative text-subtext">
                          <details level="child" trigger="hover" is="details-dropdown">
                            <summary data-link="{{ childlink.url }}" class="">
                              <a
                                href="{{ childlink.url }}"
                                class="reversed-link flex items-center justify-between gap-x-1 no-js-hidden"
                                tabindex="-1"
                              >
                                <span class="reversed-link__text">{{- childlink.title | escape -}}</span>
                                {%- render 'icon-caret-right', size: '2xs' -%}
                              </a>
                              <noscript>
                                <span
                                  class="link-no-script reversed-link flex items-center justify-between gap-x-1"
                                  tabindex="-1"
                                >
                                  <span class="reversed-link__text">{{- childlink.title | escape -}}</span>
                                  {%- render 'icon-caret-right', size: '2xs' -%}
                                </span>
                              </noscript>
                            </summary>
                            <div class="dropdown">
                              <div class="dropdown__container">
                                <ul class="dropdown__nav" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li class="reversed-link text-subtext">
                                      <a class="block" href="{{ grandchildlink.url }}">
                                        <span class="reversed-link__text">{{- grandchildlink.title | escape -}}</span>
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        </li>
                      {%- else -%}
                        <li class="reversed-link text-subtext">
                          <a href="{{ childlink.url }}" class="block">
                            <span class="reversed-link__text">{{ childlink.title | escape }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </details>
          {%- endif -%}
        {%- else -%}
          {%- if enable_mega_menu -%}
            {% render 'mega-menu',
              link: link,
              block: mega_menu_block,
              is_hl_item: is_hl_item,
              hl_menu_block: hl_menu_block,
              hl_link_style: hl_link_style
            %}
          {%- else -%}
            <a
              href="{{ link.url }}"
              class="menu__item flex relative z-2 font-navigation{% if is_hl_item %} hightlight-link hightlight-link--{{ hl_link_style }}{% endif %}"
            >
              {%- liquid
                assign link_class = 'reversed-link'
                if is_hl_item
                  case hl_link_style
                    when 'button'
                      assign link_class = 'btn btn--primary'
                    when 'wave_underline'
                      assign link_class = 'relative wave-underline'
                  endcase
                endif
              -%}
              <span class="{{ link_class }}">
                {%- unless is_hl_item -%}
                  {{- link.title | escape -}}
                {%- else -%}
                  {%- case hl_link_style -%}
                    {%- when 'button' -%}
                      <span class="btn__text">{{- link.title | escape -}}</span>
                    {%- else -%}
                      {{- link.title | escape -}}
                  {%- endcase -%}
                {%- endunless -%}
              </span>
              {%- if is_hl_item -%}
                {%- case hl_link_style -%}
                  {%- when 'star_twinkle' -%}
                    <svg class="star star-1" width="12" height="12" viewBox="0 0 12 12">
                      <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                    </svg>
                    <svg class="star star-2" width="12" height="12" viewBox="0 0 12 12">
                      <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                    </svg>
                    <svg class="star star-3" width="12" height="12" viewBox="0 0 12 12">
                      <path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/>
                    </svg>
                {%- endcase -%}
              {%- endif -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
