<div class="footer-image-box">
  <div class="relative footer-image-box--{{ block.settings.layout }} flex gap-3 md:gap-6">
    {% if block.settings.image != blank %}
      <div
        class="footer-image-box__image"
        style="--image-width: {{ block.settings.image_width }}px; --image-width-mobile: {{ block.settings.image_width_mobile }}px;"
      >
        {%- liquid
          assign block_image = block.settings.image
          assign block_image_mobile = block.settings.image_mobile
          assign image_ratio = block_image.aspect_ratio

          if block_image_mobile == blank
            assign image_mobile_ratio = image_ratio
          else
            assign image_mobile_ratio = block_image_mobile.aspect_ratio
          endif

          assign image_width = block.settings.image_width | append: 'px'
        -%}
        <motion-element class="block" data-motion="zoom-out-sm" data-motion-delay="{{ motion_delay }}">
          <picture
            class="media-wrapper blocks-radius overflow-hidden"
            style="--aspect-ratio: {{ image_ratio }};{% if image_mobile_ratio %}--aspect-ratio-mobile: {{ image_mobile_ratio }};{% endif %}"
          >
            {%- if block_image_mobile -%}
              <source
                media="(max-width: 767px)"
                srcset="{{ block_image_mobile | image_url: width: '400x' }} 400w, {{ block_image_mobile | image_url: width: '600x' }} 600w, {{ block_image_mobile | image_url: width: '800x' }} 800w, {{ block_image_mobile | image_url: width: '1000x' }} 1000w"
                width="{{ block_image_mobile.width }}"
                height="{{ block_image_mobile.height }}"
              >
            {%- endif -%}
            {% assign alt_image = block_image.alt | escape %}
            {{
              block_image
              | image_url: width: 1100
              | image_tag:
                loading: 'lazy',
                class: 'motion-reduce',
                sizes: image_width,
                widths: '165, 360, 535, 750, 940, 1100',
                is: 'image-lazy',
                class: 'absolute inset-0 w-full h-full',
                alt: alt_image
            }}
          </picture>
        </motion-element>
      </div>
    {% endif %}
    <div class="footer-image-box__content flex flex-col gap-3 md:gap-6 flex-1 justify-center">
      <div class="footer-image-box__details flex flex-col gap-1">
        {%- if block.settings.heading != blank -%}
          <h3 class="footer-block__heading inline-richtext {{ block.settings.heading_size }}">
            {{- block.settings.heading -}}
          </h3>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="footer-image-box__text text-subtext rte">
            {{ block.settings.text }}
          </div>
        {%- endif -%}
      </div>
      <div class="block">
        {%- if block.settings.button_label != blank -%}
          {% render 'button',
            button_style: block.settings.button_style,
            button_link: block.settings.button_link,
            button_label: block.settings.button_label
          %}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
