{%- liquid
  assign default_form_id = 'product-form-' | append: section.id
  assign product_form_id = product_form_id | default: default_form_id
-%}
<div
  id="ProductInfo-{{ section.id }}"
  data-section="{{ section.id }}"
  data-url="{{ product.url }}"
  class="product__info-container{% if enable_sticky_info %} sticky-element{% endif %}"
>
  <div class="product__blocks accordion-parent">
    {%- for block in section.blocks -%}
      {%- liquid
        assign block_classes = 'product__block product__block--' | append: block.type
        if block.settings.show_below_product_media
          assign block_classes = block_classes | append: ' block md:hidden'
        endif
      -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          <div class="{{ block_classes }}">
            {% render block %}
          </div>
        {%- when 'divider' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            <div class="product__divider border-top no-empty"></div>
          </div>
        {%- when 'promotion_alert' -%}
          {%- capture rgb -%}
            {{ block.settings.text_color.red }},{{ block.settings.text_color.green }},{{ block.settings.text_color.blue }}
          {%- endcapture -%}
          <div
            class="{{ block_classes }}"
            {{ block.shopify_attributes }}
            style="color: {{ block.settings.text_color }};--color-foreground:{{ rgb }};--color-link:{{ rgb }};--color-button-text:{{ rgb }}"
          >
            {%- if block.settings.heading != blank or block.settings.description != blank -%}
              <product-promotion-alert class="product__promotion-alert relative flex items-center gap-3 blocks-radius">
                {%- if block.settings.icon != 'none' -%}
                  <div class="product__promotion-alert-icon flex shrink-0">
                    {%- render 'icons', icon: block.settings.icon, size: 'extra-large' -%}
                  </div>
                {%- endif -%}
                <div class="product__promotion-alert-info flex flex-grow flex-col gap-1">
                  {%- if block.settings.heading != blank -%}
                    <div class="product__promotion-alert-heading font-body-bolder">{{ block.settings.heading }}</div>
                  {%- endif -%}
                  {%- if block.settings.description != blank -%}
                    <div class="product__promotion-alert-heading rte text-sm-extra">
                      {{ block.settings.description }}
                    </div>
                  {%- endif -%}
                </div>
                <button
                  class="btn--small btn--icon btn--icon-circle no-js-hidden"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {%- render 'icon-close', size: 'small' -%}
                </button>
              </product-promotion-alert>
            {%- endif -%}
          </div>
        {%- when 'payment_info' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'product-payment-info', block: block -%}
          </div>
        {%- when 'text' -%}
          <div class="{{ block_classes }} rte" {{ block.shopify_attributes }}>
            <p class="product__text inline-richtext m-0{% if block.settings.text_style == 'uppercase' %} text-upper{% elsif block.settings.text_style == 'subtitle' %} text-upper text-subtext{% endif %}">
              {{- block.settings.text -}}
            </p>
          </div>
        {%- when 'rich-text' -%}
          <div class="{{ block_classes }} rte text-subtext" {{ block.shopify_attributes }}>
            {{- block.settings.text -}}
          </div>
        {%- when 'title' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            <h1 class="product__title {{ block.settings.heading_size }}">{{ product.title | escape }}</h1>
            <a href="{{ product.url }}" class="product__title">
              <h2 class="h1">
                {{ product.title | escape }}
              </h2>
            </a>
          </div>
        {%- when 'price' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            <div id="price-{{ section.id }}" role="status">
              {%- render 'price',
                product: product,
                use_variant: true,
                show_sale_badge: false,
                price_class: 'f-price--large'
              -%}
            </div>
            {%- if product.quantity_price_breaks_configured? -%}
              <div class="volume-pricing-note text-subtext" id="VolumeNote-{{ section.id }}">
                <span>{{ 'products.product.volume_pricing.note' | t }}</span>
              </div>
            {%- endif -%}
            <div class="product__tax text-sm text-subtext rte">
              {%- if cart.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'installment' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
        {%- when 'inventory' -%}
          <div
            class="{{ block_classes }}{% if block.settings.text_style == 'uppercase' %} text-upper{% elsif block.settings.text_style == 'subtitle' %} text-upper text-subtext{% endif %}"
            {{ block.shopify_attributes }}
            id="Inventory-{{ section.id }}"
            role="status"
          >
            {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
              {%- liquid
                assign inventory_quantity = product.selected_or_first_available_variant.inventory_quantity

                if inventory_quantity > 0
                  if inventory_quantity <= block.settings.inventory_threshold
                    assign inventory_status = 'low-stock'
                    if block.settings.show_inventory_quantity
                      if inventory_quantity == 1
                        assign inventory_message = 'products.product.inventory_low_stock_one_item_html' | t: quantity: inventory_quantity
                      else
                        assign inventory_message = 'products.product.inventory_low_stock_many_items_html' | t: quantity: inventory_quantity
                      endif
                    else
                      assign inventory_message = 'products.product.inventory_low_stock' | t
                    endif
                  else
                    assign inventory_status = 'in-stock'
                    if block.settings.show_inventory_quantity
                      assign inventory_message = 'products.product.inventory_in_stock_show_count_html' | t: quantity: inventory_quantity
                    else
                      assign inventory_message = 'products.product.inventory_in_stock' | t
                    endif
                  endif
                else
                  if product.selected_or_first_available_variant.inventory_policy == 'continue'
                    assign inventory_status = 'in-stock'
                    assign inventory_message = 'products.product.inventory_out_of_stock_continue_selling' | t
                  else
                    assign inventory_status = 'out-of-stock'
                    assign inventory_message = 'products.product.inventory_out_of_stock' | t
                  endif
                endif
              %}
              <p class="product__inventory product__inventory--{{ inventory_status }} font-body-bolder">
                <span class="product__inventory-icon"></span>
                <span class="product__inventory-text">{{- inventory_message -}}</span>
              </p>
              {%- if inventory_status == 'low-stock' and inventory_quantity < block.settings.inventory_threshold -%}
                <progress-bar
                  class="product__inventory-stock-bar progress-bar"
                  data-value="{{ inventory_quantity }}"
                  data-max="{{ block.settings.inventory_threshold }}"
                ></progress-bar>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- when 'description' -%}
          {%- if product.description != blank -%}
            <div class="{{ block_classes }} rte text-subtext" {{ block.shopify_attributes }}>
              {%- if product.tags contains 'on_sale' -%}
                {%- assign on_sale_alt = 'products.product.on_sale' | t: default: 'On Sale' -%}
                {%- if block.settings.on_sale_image != blank -%}
                  {{ block.settings.on_sale_image | image_url: width: 300 | image_tag: alt: on_sale_alt, class: 'product__on-sale-ribbon', loading: 'lazy', style: 'max-width:150px' }}
                  
                {%- endif -%}
              {%- endif -%}
              {{ product.description }}
            </div>
          {%- endif -%}
        {%- when 'meta' -%}
          {%- if block.settings.show_vendor
            or block.settings.show_product_type
            or block.settings.show_sku
            or block.settings.show_barcode
          -%}
            <div
              class="{{ block_classes }} flex flex-wrap gap-x-3 gap-y-2 text-subtext"
              {{ block.shopify_attributes }}
              style="--color-link: {{ block.settings.link_color.red }},{{ block.settings.link_color.green }},{{ block.settings.link_color.blue }};"
            >
              {%- if block.settings.show_vendor -%}
                {%- liquid
                  assign vendor_display_name = product.vendor
                  assign vendor_use_link = true
                  assign vendor_names_raw = block.settings.vendor_names_to_replace | default: ''
                  assign vendor_replacement_text = block.settings.vendor_replacement_text | default: 'BallPro' | strip

                  if vendor_names_raw != blank and vendor_replacement_text != blank
                    assign vendor_list = vendor_names_raw | newline_to_br | strip_newlines | replace: ',', '<br />' | split: '<br />'
                    assign vendor_down = product.vendor | downcase
                    for v in vendor_list
                      assign v_clean = v | strip
                      if v_clean != blank
                        assign v_down = v_clean | downcase
                        if vendor_down == v_down
                          assign vendor_display_name = vendor_replacement_text
                          assign vendor_use_link = false
                          break
                        endif
                      endif
                    endfor
                  endif
                -%}
                <p
                  class="product__meta product__vendor"
                  id="Vendor-{{ section.id }}"
                  role="status"
                >
                  <span>{{ 'products.product.vendor' | t }}: </span>
                  {%- if vendor_use_link -%}
                    <a
                      href="{{ product.vendor | url_for_vendor }}"
                      class="btn--link font-body-bolder text-body"
                    >
                      {{- vendor_display_name -}}
                    </a>
                  {%- else -%}
                    <span class="font-body-bolder text-body">{{- vendor_display_name -}}</span>
                  {%- endif -%}
                </p>
              {%- endif -%}
              {%- if block.settings.show_product_type and product.type != blank -%}
                <p
                  class="product__meta product__type"
                  id="Type-{{ section.id }}"
                  role="status"
                >
                  <span>{{ 'products.product.type' | t }}:</span>
                  <a
                    href="{{ product.type | url_for_type }}"
                    class="btn--link font-body-bolder text-body"
                  >
                    {{- product.type -}}
                  </a>
                </p>
              {%- endif -%}
              {%- if block.settings.show_sku -%}
                <p
                  class="product__meta product__sku{% if product.selected_or_first_available_variant.sku.size == 0 %} hidden{% endif %}"
                  id="Sku-{{ section.id }}"
                  role="status"
                >
                  {%- if product.selected_or_first_available_variant.sku != blank -%}
                    <span>{{ 'products.product.sku' | t }}:</span>
                    <span>{{- product.selected_or_first_available_variant.sku -}}</span>
                  {%- endif -%}
                </p>
              {%- endif -%}
              {%- if block.settings.show_barcode -%}
                <p
                  class="product__meta product__barcode{% if product.selected_or_first_available_variant.barcode.size == 0 %} hidden{% endif %}"
                  id="Barcode-{{ section.id }}"
                  role="status"
                >
                  {%- if product.selected_or_first_available_variant.barcode != blank -%}
                    <span>{{ 'products.product.barcode' | t }}:</span>
                    <span>{{- product.selected_or_first_available_variant.barcode -}}</span>
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>
            {%comment%}{%- if product.tags contains 'rush' -%}{% endcomment %}
            {%- if product.metafields.custom['24_hour_rush_available'].value == true -%}

              <a
                href="/pages/24-hour-rush-program"
                class="product__rush-button"
                style="display:inline-block"
              >
                <!--<span style="display:block;">Ball Pro Express</span>
                <span style="display:block;font-size:0.875em;font-weight:600;">24-Hour Rush Available</span>-->
                {%- if block.settings.rush_image != blank -%}
                  {{ block.settings.rush_image | image_url: width: 500 | image_tag: alt: 'Ball Pro Rush Service', loading: 'lazy', style: 'width:100%;max-width:150px' }}
                {%- else -%}
                  <img src="https://cdn.shopify.com/s/files/1/0590/2152/5072/files/ballpro-express.png?v=1776354924" alt="Ball Pro Rush Service" style="width:100%;max-width:150px">
                {%- endif -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        {%- when 'custom_liquid' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {{ block.settings.custom_liquid }}
          </div>
        {%- when 'collapsible_tab' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'product-collapsible-tab', block: block, section_id: section.id -%}
          </div>
        {%- when 'inventory_by_date' -%}
          {%- capture inventory_by_date -%}
            {%- render 'product-inventory-table', block: block, section_id: section.id -%}
          {%- endcapture -%}
          {%- assign inventory_by_date = inventory_by_date | strip -%}
          {%- if inventory_by_date != blank -%}
            <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
              {{- inventory_by_date -}}
            </div>
          {%- endif -%}
        {%- when 'popup' -%}
          {%- liquid
            assign modal_id = 'PopupModal-' | append: block.id
            assign button_label = block.settings.button_label | default: block.settings.page.title | escape
          -%}
          {% capture button_attributes %}
            aria-controls="{{ modal_id }}"
            aria-haspopup="dialog"
          {% endcapture %}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {% render 'button',
              button_style: block.settings.button_style,
              button_tag: 'button',
              button_label: button_label,
              button_icon: block.settings.button_icon,
              additional_attributes: button_attributes
            %}
            <basic-modal id="{{ modal_id }}" class="drawer modal product__popup-modal" style="--modal-width: 77rem;">
              <div class="fixed-overlay" aria-controls="{{ modal_id }}"></div>
              <div class="drawer__inner color-{{ settings.overlay_color_scheme }}">
                <button
                  class="drawer__close-btn"
                  aria-controls="{{ modal_id }}"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {% render 'icon-close' %}
                </button>
                <div class="drawer__body v-scrollable h-full">
                  <h1 class="h2 product__popup-page-title">{{ block.settings.page.title | escape }}</h1>
                  {{ block.settings.page.content }}
                </div>
              </div>
            </basic-modal>
          </div>
        {%- when 'addons' -%}
          {%- if block.settings.show_share or block.settings.show_ask_question -%}
            <div class="{{ block_classes }} flex items-center" {{ block.shopify_attributes }}>
              {%- if block.settings.show_share -%}
                <script src="{{ 'product-share.js' | asset_url }}" defer="defer"></script>
                {%- liquid
                  assign share_modal_id = 'PopupModal-Sharing-' | append: section.id
                  assign share_url = product.selected_or_first_available_variant.url | default: product.url | prepend: request.origin
                -%}
                <button
                  class="btn btn--plain"
                  aria-controls="{{ share_modal_id }}"
                  aria-haspopup="dialog"
                >
                  {% render 'icon-share-fat' %}
                  <span class="font-body text-normal tracking-normal">
                    {{- 'products.product.share_label' | t -}}
                  </span>
                </button>
                <basic-modal id="{{ share_modal_id }}" class="drawer modal">
                  <div class="fixed-overlay" aria-controls="{{ share_modal_id }}"></div>
                  <div class="drawer__inner color-{{ settings.overlay_color_scheme }}">
                    <button
                      class="drawer__close-btn"
                      aria-controls="{{ share_modal_id }}"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <div class="drawer__body v-scrollable h-full">
                      <div class="product__sharing">
                        <h3 class="product__sharing--title h5">{{ 'products.product.share' | t }}</h3>
                        <product-share class="product__sharing--inputs" id="ProductShare-{{ section.id }}">
                          <label for="ProductShare-{{ section.id }}" class="visually-hidden">
                            {{- 'products.product.share_label' | t -}}
                          </label>
                          <input
                            id="ProductShare-{{ section.id }}"
                            type="text"
                            class="form-control"
                            value="{{ share_url }}"
                            readonly
                          >
                          <button class="btn btn-copy" data-copied-text="{{ 'general.share.copied' | t }}">
                            {{ 'general.share.copy' | t }}
                          </button>
                        </product-share>
                        {% render 'social-sharing',
                          url: product.url,
                          share_image: product.featured_media.preview_image
                        %}
                      </div>
                    </div>
                  </div>
                </basic-modal>
              {%- endif -%}
              {%- if block.settings.show_ask_question -%}
                {%- assign ask_question_modal_id = 'PopupModal-AskQuestionForm-' | append: section.id -%}
                <button
                  class="btn btn--plain"
                  aria-controls="{{ ask_question_modal_id }}"
                  aria-haspopup="dialog"
                >
                  {% render 'icon-share-fat' %}
                  <span class="font-body text-normal tracking-normal">
                    {{- 'products.product.question_form.label' | t -}}
                  </span>
                </button>
                <basic-modal id="{{ ask_question_modal_id }}" class="drawer modal">
                  <div class="fixed-overlay" aria-controls="{{ ask_question_modal_id }}"></div>
                  <div class="drawer__inner color-{{ settings.overlay_color_scheme }}">
                    <button
                      class="drawer__close-btn"
                      aria-controls="{{ ask_question_modal_id }}"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <div class="drawer__body v-scrollable h-full">
                      {% render 'ask-question-form' %}
                    </div>
                  </div>
                </basic-modal>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- when 'social_sharing' -%}
          <div class="{{ block_classes }} flex items-center gap-4" {{ block.shopify_attributes }}>
            <span class="font-button">{{ 'general.share.title' | t }}</span>
            {% render 'social-sharing', url: product.url, share_image: product.featured_media.preview_image %}
          </div>
        {%- when 'variant_picker' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {% render 'product-variant-picker',
              product: product,
              block: block,
              product_form_id: product_form_id,
              update_url: update_browser_history
            %}
          </div>
        {%- when 'buy_buttons' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'buy-buttons',
              block: block,
              product: product,
              product_form_id: product_form_id,
              section_id: section.id,
              product_id: product.id
            -%}
          </div>
        {%- when 'pickup_availability' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'product-pickup-availability', product: product -%}
          </div>
        {%- when 'badges' -%}
          <div
            class="{{ block_classes }} product__badges flex flex-wrap items-center"
            id="Badges-{{ section.id }}"
            {{ block.shopify_attributes }}
          >
            {%- render 'product-badges', block: block, product: product, section_id: section.id -%}
          </div>
        {%- when 'shipping' -%}
          {%- if block.settings.deliver_days != blank -%}
            <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
              <ul class="icon-with-text icon-with-text--vertical list-unstyled">
                <li class="icon-with-text__item">
                  {%- render 'icon-truck' -%}
                  {%- liquid
                    assign date_format = block.settings.date_format | default: '%b %d'
                    assign range = 2 | times: 24 | times: 60 | times: 60
                    assign deliver_in = block.settings.deliver_days | times: 24 | times: 60 | times: 60
                    assign now = 'now' | date: '%s'
                    assign from = now | plus: deliver_in | minus: range | date: date_format
                    assign to = now | plus: deliver_in | plus: range | date: date_format
                  -%}
                  <div>
                    {{- block.settings.deliver_text | strip_html }}
                    <span>{{ from }} - {{ to }}</span>
                  </div>
                </li>
              </ul>
            </div>
          {%- endif -%}
        {%- when 'complementary' -%}
          <div
            class="{{ block_classes }} product__block--{{ block.type }}-{% if block.settings.make_collapsible_row %}collapsible{% else %}inline{% endif %}{% if block.settings.block_heading != blank %} has-heading{% endif %}"
            {{ block.shopify_attributes }}
          >
            {%- render 'product-complementary', block: block, product_id: product.id, section_id: section.id -%}
          </div>
        {%- when 'icon-with-text' -%}
          <div
            class="{{ block_classes }} product__block--{{ block.type }}-{{ block.settings.layout }}"
            {{ block.shopify_attributes }}
          >
            {% render 'icon-with-text',
              layout: block.settings.layout,
              title_size: block.settings.title_size,
              title_font: block.settings.title_font,
              heading_1: block.settings.heading_1,
              image_1: block.settings.image_1,
              icon_1: block.settings.icon_1,
              heading_2: block.settings.heading_2,
              image_2: block.settings.image_2,
              icon_2: block.settings.icon_2,
              heading_3: block.settings.heading_3,
              image_3: block.settings.image_3,
              icon_3: block.settings.icon_3
            %}
          </div>
        {%- when 'grid-icon-box' -%}
          <div
            class="{{ block_classes }}"
            {{ block.shopify_attributes }}
          >
            {% render 'product-grid-icon-box', block: block %}
          </div>
        {%- when 'timer' -%}
          {%- capture rgb -%}
            {{ block.settings.text_color.red }},{{ block.settings.text_color.green }},{{ block.settings.text_color.blue }}
          {%- endcapture -%}
          <div
            class="{{ block_classes }} countdown__wrapper blocks-radius flex flex-wrap items-center justify-between gap-2 md:gap-4"
            style="color: {{ block.settings.text_color }};--color-foreground: {{ rgb }};"
            {{ block.shopify_attributes }}
          >
            <div class="inline-flex items-center gap-2">
              {%- render 'icon-clock' -%}
              {%- if block.settings.text != blank -%}
                <span class="font-body-bolder md:text-base text-sm-extra">{{ block.settings.text }}</span>
              {%- endif -%}
            </div>
            {%- if block.settings.type == 'evergreen' or block.settings.time != blank -%}
              {%- render 'countdown-timer',
                id: block.id,
                type: block.settings.type,
                duration: block.settings.duration,
                time: block.settings.time,
                number_size: 'h4',
                custom_class: 'flex items-center justify-center',
                block_class: 'font-body-bolder'
              -%}
            {%- endif -%}
          </div>
        {%- when 'newsletter' -%}
          <div class="{{ block_classes }} flex flex-col gap-5" {{ block.shopify_attributes }}>
            <h2 class="{{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
            <div class="grid gap-4 text-center">
              {% render 'newsletter-form',
                custom_id: block.id,
                hide_label: true,
                button_style: block.settings.button_style,
                button_icon: block.settings.button_icon
              %}
              {%- if block.settings.newsletter_term != blank -%}
                <div class="rich-text__text rte {{ block.settings.newsletter_term_size }}">
                  {{ block.settings.newsletter_term }}
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- when 'discount_codes' -%}
          {%- unless customer -%}
          {%- if product.metafields.custom.discount_codes != blank -%}
            {%- liquid
              assign discount_codes_string = product.metafields.custom.discount_codes | strip
              assign codes_array = discount_codes_string | split: ','
              assign display_codes = ''
              assign codes_count = 0
              
              for code in codes_array
                if codes_count < 3
                  assign trimmed_code = code | strip
                  if trimmed_code != blank
                    if display_codes == blank
                      assign display_codes = trimmed_code
                    else
                      assign display_codes = display_codes | append: ', ' | append: trimmed_code
                    endif
                    assign codes_count = codes_count | plus: 1
                  endif
                endif
              endfor
              assign label_text = block.settings.heading | default: 'Discount Codes:'
            -%}
            {%- if display_codes != blank -%}
              <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
                <p>
                  <span>{{ label_text }}</span> {{ display_codes }}
                </p>
              </div>
            {%- endif -%}
          {%- endif -%}
          {%- endunless -%}
        {%- when 'pricing_details' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'pricing-details', block: block -%}
          </div>
        {%- when 'pricing_details_v2' -%}
          <div class="{{ block_classes }}" {{ block.shopify_attributes }}>
            {%- render 'pricing-details-v2', block: block -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  {%- if show_details_link == true -%}
    <div class="product__view-details text-left z-1">
      <a
        {% if product == blank %}
          role="link" aria-disabled="true" disabled
        {% else %}
          href="{{ product.url }}"
        {% endif %}
        class="btn btn--plain btn--with-icon"
      >
        <span class="btn__text">{{- 'products.product.view_full_details' | t -}}</span>
        <span class="btn__icon inline-flex">
          {%- render 'icon-caret-right', size: '2xs' -%}
        </span>
      </a>
    </div>
  {%- endif -%}
</div>
